{% extends "admin/layout.twig" %}

{% block title %} {{l.pagescreate.91}} {% endblock %}


{% block content %}
<!-- Main content -->
<div class="content-wrapper">



<!-- page header -->
<div class="page-header page-header-default ">
    <div class="page-header-content">
    <div class="page-title">
       
        <h1>
        <span class="text-semibold"><i class="icon-arrow-right6 position-left goback"></i>
        {{l.pagescreate.91}}
        </span>
        </h1><a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>
       
       
        <div class="heading-elements">
           
        </div>
    </div>
    <div class="breadcrumb-line">
       <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="{{path_for('admin.index')}}" title="{{l.bread.1}}"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
            <li><a href="{{path_for('pages')}}" title="{{l.pages.71}}">{{l.pages.71}}</a></li>
            <li class="active" title="{{l.pagescreate.91}}">{{l.pagescreate.91}}</li>
            
        </ul>
    </div>
</div>
<!-- page header -->
            
            
            
            
            
            
            
            
            
            
<style>

</style> 
				<!-- Content area -->
				<div class="content">
			


			        {% include "admin/elements/flash.twig" %}

<div class="col-md-12">								

<form  enctype="multipart/form-data" id="user_form" method='post' action="{{ path_for('pages.store') }}">
<input type="hidden"  name="thumbnailChanged" id="isAdChanged" value="false" />
 

<div class="col-md-9">								
<div class="form-group">
        <label class="control-label">{{l.pagescreate.93}}</label>
        <input type="text" id="postitlte" class="form-control" name="title" placeholder="{{l.pagescreate.93}}" value="{{old.title}}" />
</div>
<textarea name="post_content" id="posteditor" >{{old.post_content}}</textarea>
</div>					
					
<div class="col-md-3">
<button type="submit" class="btn btn-block btn-primary">{{l.pagescreate.94}}<i class="icon-arrow-left13 position-right"></i></button>
<br>
     

            
            <div class="panel panel-white">
                <div class="panel-heading ">
                    <h6 class="panel-title">{{l.pagescreate.97}} </h6>
                </div>
                <div class="panel-body ">
                <div class="preview-thumbnail">
                    <img src="" id="profile_avatar"  />
                </div>
                <label for="Upload-thumbnail" ><i class="icon-image2 position-left"></i> {{l.pagescreate.98}} </label>
            <input name="post_thumbnail" id="Upload-thumbnail" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
                </div>
            </div>
            
            
            

            

        </div>
 </form>
 </div>
</div>
<!-- /content area -->
</div>

<style>
.preview-thumbnail img {
    width: 100%;
    margin-bottom: 25px;
}

</style>		
<script>
    
function readURL(input) {

if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('.preview-thumbnail img').attr('src', e.target.result);
}
reader.readAsDataURL(input.files[0]);
}
}
$("#Upload-thumbnail").change(function(){
readURL(this);
    $("#isAdChanged").val("true");
});        
</script>

<!-- set the select -->		


 <script src="{{assets }}admin/ckeditor/ckeditor.js"></script>
      <script>

CKEDITOR.replace( 'posteditor', {
    language: '{{l.lang}}',
}); 

    </script>
    
    
    
    
    
    

<script>
//setup before functions
var typingTimer;                //timer identifier
var doneTypingInterval = 5000;  //time in ms (5 seconds)

//on keyup, start the countdown
$('#postitlte').keyup(function(){
    clearTimeout(typingTimer);
    if ($('#postitlte').val()) {
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    }
});

//user is "finished typing," do something
function doneTyping () {
   var slug = $('#postitlte').val();
    $('.the_show').show();
   $('.the_show span').html("/{{CLEAN_URL_BASE}}{{path_for('website.blog')}}"+slug);
   $('#the_link').attr("href", "/{{CLEAN_URL_BASE}}{{path_for('website.blog')}}"+slug);
   $('#the_input').val(slug);
}
</script>

<script>

    
$('.editslugbtn').click(function(){
        $(".the_edit").show();
        $(".the_show").hide();
});      
    
    
$('.the_cancel').click(function(){
        $(".the_edit").hide();
        $(".the_show").show();
});      
    
    
$('.the_change').click(function(){
        $(".the_edit").hide();
        $(".the_show").show();
});      
    
</script>

    
    

{% endblock %}