{% extends "admin/layout.twig" %}
{% block title %} {{l.comment.0}} {% endblock %}

{% block content %}

            


<!-- Main content -->
<div class="content-wrapper">



<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h1><i class="icon-arrow-right6 position-left goback"></i> <span class="text-semibold">{{l.comment.0}}</span></h1>
        </div>
 
        <div class="heading-elements">
                  
 <a href="javascript:void(0);" data-toggle="modal" data-target="#modal_iconified" class="btn bg-danger btn-labeled heading-btn"><b><i class="icon-trash"></i></b>{{l.comment.2}}</a>
                        
                        
<!-- Iconified modal -->
<div id="modal_iconified" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;{{l.bulk_modal.1}}</h5>
        </div>

        <div class="modal-body">
            <div class="alert alert-info alert-styled-left text-blue-800 content-group">
                {{l.bulk_modal.2}}
                <button type="button" class="close" data-dismiss="alert">×</button>
            </div>
            {{l.bulk_modal.4}}
            <p>
            <br>
            </p>
        </div>

        <div class="modal-footer">
            <a href="{{ path_for('comments.bulkdelete') }}" class="btn btn-link text-danger">
            {{l.bulk_modal.6}}</a>
            <button class="btn btn-primary" data-dismiss="modal"> {{l.bulk_modal.7}} </button>
        </div>
    </div>
</div>
</div>
		
            
        </div>
    </div>
    <div class="breadcrumb-line">
       <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="{{path_for('admin.index')}}" title="{{l.bread.1}}"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
            <li class="active" title="{{l.comment.0}}">{{l.comment.0}}</li>
            
        </ul>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

		{% include "admin/elements/flash.twig" %}



	<div class="panel panel-flat">
		<table class="table datatable datatable-basic">
			<thead>
				<tr>
					<th><b>{{l.comment.3}}</b></th>
					<th><b>{{l.comment.10}}</b></th>
					<th><b>{{l.comment.4}}</b></th>
					<th><b>{{l.comment.5}}</b></th>
					<th class="col-md-1 text-center"><b>{{l.comment.6}}</b></th>
				</tr>
			</thead>
			<tbody>
            {% for comment in content %}
				<tr id=''>
					<td>{{comment.by.username}}</td>
					<td>{{comment.post.title}}</td>
					<td>{{comment.content}}</td>
					<td>{{comment.created_at}}</td>
					<td class="text-center">
						<ul class="icons-list">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								    <i class="icon-menu9"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
								<li>
								<a href="{{ path_for('website.post', {'id': comment.post_id}) }}#comment-{{comment.id}}" class="text-success show_cmt"><i class="icon-eye"></i><b>{{l.comment.7}}</b></a>
								</li>
									<li><a href="{{ path_for('comments.edit', {'id': comment.id}) }}" class="text-primary-600"><i class="icon-pencil7"></i><b>{{l.comment.8}}</b></a></li>
									<li><a href="{{ path_for('comments.delete', {'id': comment.id}) }}" class='text-danger'><i class="icon-trash"></i><b>{{l.comment.9}} </b></a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				{% endfor %} 
			</tbody>
		</table>
	</div>
<center>{{pagination|raw}}</center>
</div>
</div>
{% endblock %}	