{% extends "admin/layout.twig" %}

{% block title %} {{l.faqscreate.17}} {% endblock %}


{% block content %}
 
				<!-- Content area -->
				<div class="content">

				<!-- Page header -->
				<div class="page-header page-header-transparent">
					<div class="page-header-content">
						<div class="page-title">
							<h1> <span class="text-semibold">{{l.faqscreate.17}}</span></h1>
						</div>
					</div>
				</div>
				<!-- /page header -->
			

			        {% include "admin/elements/flash.twig" %}

<div class="col-md-12">								

<form method='post' action="{{ path_for('faqs.store') }}">
<div class="col-md-9">								
    <div class="form-group">
            <label class="control-label">{{l.faqscreate.19}}</label>
            <input type="text" id="postitlte" class="form-control" name="question" placeholder="{{l.faqscreate.19}}" value="{{post.question}}" />
    </div>
     <div class="form-group">
    <textarea name="answer" id="posteditor" class="form-control"  >{{question.answer}}</textarea>
        </div>

</div>					

<div class="col-md-3">
<button type="submit" class="btn btn-block btn-primary">{{l.faqscreate.20}}<i class="icon-arrow-left13 position-right"></i></button>
<br>
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title"> {{l.faqscreate.21}} </h6>
    </div>
    <div class="panel-body">
         <select  name="postCategory" style="width:100%;" class="postCategory">
            <option value="not_speci">{{l.faqscreate.22}}</option>
                {% for categorie in categories %}
                <option value="{{categorie.id}}">{{categorie.name}}</option>
                {% endfor %} 
          </select>
    </div>
</div>
 </div>
 
 
 </form>
 </div>
</div>
<!-- /content area -->



<!-- set the select -->		
<script> $('.postCategory').select2({ placeholder: 'تحديد تصنيف السؤال',}); </script>


    <script src="{{assets }}admin/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'posteditor', {
            language: '{{l.lang}}',
        }); 
    </script>
    
    
    
    

{% endblock %}