{% extends "admin/layout.twig" %}

{% block title %} {{l.faqs.3}} {% endblock %}

{% block content %}


<!-- Main content -->
<div class="content-wrapper">



<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">{{l.faqs.3}}</span></h1>
        </div>

        <div class="heading-elements">
           {% if content is not empty %}
            <a href="{{ path_for('faqs.create') }}" class="btn bg-blue btn-labeled heading-btn"><b>
            <i class="icon-plus3"></i></b> {{l.faqs.4}}</a>
            
 <a href="javascript:void(0);" data-toggle="modal" data-target="#modal_iconified" class="btn bg-danger btn-labeled heading-btn"><b><i class="icon-trash"></i></b> {{l.faqs.5}}</a>
                        
                        
		            <!-- Iconified modal -->
					<div id="modal_iconified" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;تنبيه وتحذير</h5>
								</div>

								<div class="modal-body">
									<div class="alert alert-info alert-styled-left text-blue-800 content-group">
						                <span class="text-semibold">رجاء !</span> انتبه من الخطوة التالية.
						                <button type="button" class="close" data-dismiss="alert">×</button>
						            </div>

									<h6 class="text-semibold"><i class="icon-law position-left"></i> حذف البيانات</h6>
									<p>عند قيامك بحذف كل الأعضاء فأنت تتحمل كامل المسؤولية ، لا يمكن التراجع عن هذه الخطوة فور اتخاذها 
									<br>
									رجاءً، خذ نسخة احتياطية قبل اتخاذ هذا القرار
									</p>

									
								</div>

								<div class="modal-footer">
									<a href="{{path_for('faqs.bulkdelete')}}" class="btn btn-link text-danger"  >
									 أنا موافق ، رجاءً قم بحذف كل البيانات</a>
									<button class="btn btn-primary" data-dismiss="modal"> اغلاق </button>
								</div>
							</div>
						</div>
					</div>
					<!-- /iconified modal -->
           {% endif %} 
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
			        {% include "admin/elements/flash.twig" %}


{% if searchView != true %}
{% if content is empty %}
			
			
			<div class="empty_state text-center">
			    
			<i class="icon-question3 empty_state_icon"></i>
		<h4> 
        {{l.faqs.6}}
		</h4>
		<a href="{{ path_for('faqs.create') }}" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-plus3"></i></b>
		{{l.faqs.8}}
		</a>
		
		
		
			</div>
{% endif %}
{% endif %}



{% if content is not empty %}










<div class="panel-group panel-group-control panel-group-control-right">
                            
                            
                            
                            {% for key,cat in content %}
                             
                            
                            
                            <br>
                            <div class="text-size-small text-uppercase text-semibold text-muted mb-10">{{key}}</div>
                            
                            {% for item in cat %}
                            
                            
                            
                            
                            
								<div class="panel panel-white">
									<div class="panel-heading">
										<h6 class="panel-title">
											<a class="collapsed" data-toggle="collapse" href="#question{{ item.id}}">
												<i class="icon-help position-left text-slate"></i> {{ item.question}}
											</a>
										</h6>
									</div>

									<div id="question{{ item.id}}" class="panel-collapse collapse">
										<div class="panel-body">
											{{ item.answer}}
										</div>

										<div class="panel-footer panel-footer-transparent">
											<div class="heading-elements">
												<span class="text-muted heading-text">{{l.faqs.11}} : {{item.created_at.toDateTimeString()}}</span>

												<ul class="list-inline list-inline-condensed heading-text pull-right">
												
												
												    <li><a href="{{path_for('faqs.edit', {id : item.id})}}" class="text-primary"><i class="icon-pencil7"></i>  {{l.faqs.12}}  </a></li>
                                    <li><a href="{{path_for('faqs.delete', {id : item.id})}}" class="text-danger"><i class="icon-trash"></i>  {{l.faqs.13}}  </a></li>
                                     <li>
                        <a href="{{path_for('faqs.duplicate', {id : item.id})}}" class="text-muted">
                  <i class="icon-stack-plus position-left"></i> {{l.faqs.14}} 
              </a>
												

												</ul>
											</div>
										</div>
									</div>
								</div>
								
								 {% endfor  %}
								
								
								 {% endfor  %}
								

</div>

							








{% include "admin/elements/pagination.twig" %}
</div>
{% endif %}

</div>
{% endblock %}