<html lang="{{l.lang}}" {% if l.lang == 'ar' %} dir="rtl"  {% endif %} >
<head>
    
    <!-- Page title -->
	<title> {{l.navbar.1}} - {% block title %} {% endblock %}</title>
    
    <!-- meta -->
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=7">
    <meta name="description" content="لوحة التحكم">
    
    <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="{{assets}}admin/images/favicon.png" /> 

    {% if l.lang == 'ar' %}
    <!-- css style -->
	<link rel="stylesheet" type="text/css" href="{{assets}}admin/css/rtl.css" />
	<link href="{{assets}}admin/calendar/dist/fullcalendar.css" rel="stylesheet" />
	
	{% else %}
    <!-- css style -->
	<link rel="stylesheet" type="text/css" href="{{assets}}admin/css/ltr.css" />
	{% endif %}
	
	<!-- JS script -->
	<script type="text/javascript" src="{{assets}}admin/js/all.js"></script>
	
    <!-- check for javascript -->
    <noscript>
        <meta http-equiv="refresh" content="0; url=http://www.google.com" />
    </noscript>
    
    
    
    <style>
    .preview-thumbnail img {
    width: 100%;
    margin-bottom: 25px;
    }
    #Upload-thumbnail {
        display: none;
    }
    </style>

				
<style>
    
.galleryitem {
    width: 100% !important;
}

.galleryitem img {
    width: 100%;
}
    
    
#MediaUploaderModal div#mediaList {
    height: 320px;
    width: 100%;
    overflow-y: auto;
}    
#MediaUploaderModal .checkFile {
    position: absolute;
    top: 0;
    left: 6px;
}
#MediaUploaderModal .dropzone .dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename {
    height: initial;
}
#MediaUploaderModal .modal-dialog {
    width: 80%;
}
#MediaUploaderModal  .modal-header {
    border-bottom: 2px solid #f5f1f1;
    padding-bottom: 25px;
}

#MediaUploaderModal  .modal-header a {
    padding:24px 20px;
    font-size:15px;
}
#MediaUploaderModal  .modal-header a.active {
    border-bottom: 2px solid blue;
}
    
#MediaUploaderModal .modal-footer {
    border-top: 2px solid #f5f1f1;
    padding-top: 25px;
}
    
    
#MediaUploaderModal .modal-footer #Modalassign {
    padding: 7px 40px;
    border: 1px solid #1287e4;
}
#MediaUploaderModal .modal-footer [data-dismiss="modal"] {
    background: #e6e6e6;
    color: #000000b5;
    border: 1px solid #00000036;
    padding: 7px 18px;
}













     #MediaUploaderModal  .checkedimg {
    border: 3px solid #03a9f4 !important;
}
#MediaUploaderModal .thumbnail input[type="checkbox"] {
display: none;
}

#MediaUploaderModal  .thumbnail label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    right: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

#MediaUploaderModal  .thumbnail :checked + label {
  border-color: #ddd;
}
      
              #MediaUploaderModal      .thumbnail .thumb {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 150px;
}     
#MediaUploaderModal  .thumbnail :checked + label:before {
    content: "+";
    background-color: #03a9f4;
    transform: scale(1);
}
 #MediaUploaderModal   .mediapreview {
    display: inline-block;
    width: 100px;
    height: 70px;
    background: #cec3c3;
    border-radius: 5px;
}
.thumbnail {
    border: 2px solid #03a9f4 !important;
    overflow: hidden;
    padding: 0;
    position: relative;
    display: inline-block;
}
</style>






 </head>
<body>
    
    
    
    <!-- Iconified modal -->
<div id="MediaUploaderModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <a href="javascript:;" class="active" id="uploadfiles">رفع الملفات</a>
          <a href="javascript:;"  id='ModalLibrary'>مكتبة الوسائط</a>
        </div>

        <div class="modal-body">
        
           <!-- Files Library -->
           <div id="mediaList" style="display: none;"></div>
           
            <!-- uploader -->
             <div class="dropzone" id="myDZ">
               <div class="dz-default dz-message"><span>اسحب الملفات هنا</span>
               <a href="javascript:;" class="btn btn-primary" id="openSelect">يمكنك  أيضاً اختيار الملفات من جهازك</a>
               </div>         
             </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" id='Modalassign' disabled> تعيين </button>
            <button class="btn btn-primary" data-dismiss="modal"> تراجع </button>
        </div>
    </div>
</div>
</div>

    
    
    
    

    {% include "admin/elements/navbar.twig" %}

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">
       
         <!-- sidbar -->
        {% include "admin/elements/sidebar.twig" %} 	
        

        {% block content %} {% endblock %}
        
		</div>
		
	</div>
	
	
    <script type="text/javascript" src="{{assets}}admin/js/jquery.nestable.js"></script>
    <script type="text/javascript" src="{{assets}}admin/js/jquery.nestable++.js"></script>
    <script type="text/javascript" src="{{assets}}admin/js/mediaUploader.js?v=0.2"></script>
    <script type="text/javascript" src="{{assets}}admin/js/main.js?v=0.1"></script>
    <script type="text/javascript" src="{{assets}}admin/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="{{assets}}admin/moment/moment.js"></script>
    <script type="text/javascript" src="{{assets}}admin/calendar/dist/fullcalendar.min.js"></script>
 
   <script type="text/javascript" src="{{assets}}admin/dropzone.js"></script>
   <script type="text/javascript" src="{{assets}}admin/MediaUploader.js"></script>

    <script src="{{assets }}admin/ckeditor/ckeditor.js"></script>

   
   
  <script>

  // check if a div or element is empty
  function isEmpty( el ){
      return !$.trim(el.html())
  }

  // on check enable the button of chose image
  $(document).on('click', '.checkFile', function(e) {
      if(this.checked) {
          $('#Modalassign').removeAttr("disabled");
          $(this).attr('checked','checked');
      }else {
          $(this).removeAttr("checked");
          $('#Modalassign').prop("disabled", true);
      }  
  });
        
      
      
    // show the dropZone Uploader Tab
    $('#uploadfiles').click(function (){
            $('#MediaUploaderModal .modal-header a').removeClass('active');
            $(this).addClass('active');
            $('.dropzone').show();
            $('#MediaUploaderModal #mediaList').hide();        
    });
      
    // show the media list tab 
    $('#ModalLibrary').click(function (){
            $('#MediaUploaderModal .modal-header a').removeClass('active');
            $(this).addClass('active');
            $('.dropzone').hide();
            $('#MediaUploaderModal #mediaList').show();
            if (isEmpty($('#mediaList'))) {
                 $.ajax({
                   url:'{{path_for("media.load")}}',
                   type:"GET",
                     cache:false,
                    contentType: 'json',
                    processData: false,
                   success:function(response)
                   {
                      $.each(JSON.parse(response), function(i, item) {
                          var html  = '<div class="thumbnail"> <div class="thumb"> <input type="checkbox" class="mediacheckbox" value="'+item.id+'" id="img'+item.id+'" /> <label for="img'+item.id+'"> <img src="{{url.media}}'+item.name+'" > </label> </div> </div>';
                          $('#MediaUploaderModal #mediaList').append(html);

                        }); 
                     console.log(response);
                   }
                  });   
            }  
    });
    

    // allow selecting only one check box in media list  
//    $(document).on('click', '.mediacheckbox', function() {
//        $('.mediacheckbox').not(this).prop('checked', false);
//        $('.mediacheckbox').not(this).closest('.mediauploder .thumbnail').removeClass('checkedimg');
//    });
//    
    // add border and selected icon for the media when you check it
//    $(document).on('change', '.mediacheckbox', function() {
//        if(this.checked) {
//            $(this).closest('.mediauploder .thumbnail').addClass('checkedimg');
//        }else{
//         $(this).closest('.mediauploder .thumbnail').removeClass('checkedimg');
//        }    
//    });      

 


    // Remove the image From Gallery
    jQuery('body').on('click','#removeitem',function(e){
     $(this).closest(".galleryitem").remove();
     e.preventDefault();
    });

      

      
      
    function designReturn(gallery){
        $.each( gallery, function( key, value ) {
            var myDesign = '<div class="galleryitem"><img src="/assets/admin/images/mediaDelete.png" id="removeitem" /><img src="'+value[1]+'" /><input type="hidden" name="gallery[]" value="'+value[0]+'"  /></div>';
            $('#MediaThumbnail').append(myDesign);
        });
    }




    // on click on chose image get the array of selected images + clear the dropZone + close the modal
    $('#Modalassign').click(function(){ 
         var gallery = new Array();
          $('.dz-complete').each(function () {
              
               var Myinput = $(this).find('.checkFile');
               if(Myinput[0].hasAttribute("checked")) {
                   gallery.push( [Myinput.data("id") , Myinput.data("url") ]) ;
               }
           });
        
         designReturn(gallery);
        
        // clear the dropZone and close the modal
        Dropzone.forElement('#myDZ').removeAllFiles(true);
        $('#MediaUploaderModal').modal('toggle');
    });

    
    //Disabling autoDiscover
    Dropzone.autoDiscover = false;
    $(function() {
        var myDropzone = new Dropzone(".dropzone", {
            url: "{{path_for('media.upload')}}",
            paramName: "file",
            maxFilesize: 2,
            maxFiles: 10,
            addRemoveLinks: true,
            clickable:true,
            acceptedFiles: "image/*,application/pdf",
            success: function(file, response){
              var response =  JSON.parse(response)
                  var input = '<input type="checkbox" name="" data-url="'+response.url+'" data-id="'+response.id+'" class="checkFile">';
                  $(file.previewTemplate).find('.dz-image img').attr('id', response.id );
                  $(file.previewTemplate).find('.dz-image').append(input);
                  $(file.previewTemplate).find('.dz-filename').remove();
                  $(file.previewTemplate).find('.dz-size').remove();
                  $(file.previewTemplate).find('.dz-remove').remove();
                  $(file.previewElement).addClass("dz-success");
            }
        });
    });
</script>
   
   
    {% include "admin/elements/footer_javascript.twig" %} 		 
   		 

</body>
</html>
{% spaceless %}{% endspaceless %}
