<html lang="{{l.lang}}" >
<head>
    
    <!-- Page title -->
	<title> {{l.navbar.1}} - {% block title %} {% endblock %}</title>
    
    <!-- meta -->
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=7">
    <meta name="description" content="لوحة التحكم">
    
    <!-- favicon -->
	<link rel="icon" type="image/x-icon" href="{{assets}}admin/images/favicon.png" /> 

    <!-- css style -->
	<link rel="stylesheet" type="text/css" href="{{assets}}admin/css/ltr.css" />
	
	<!-- JS script -->
	<script type="text/javascript" src="{{assets}}admin/js/all.js"></script>
	
    <!-- check for javascript -->
    <noscript>
        <meta http-equiv="refresh" content="0; url=http://www.google.com" />
    </noscript>

 </head>
<body>


    {% include "admin/elements/navbar.twig" %}

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">
       
         <!-- sidbar -->
        {% include "admin/elements/sidebar.twig" %} 	
        

        {% block content %} {% endblock %}
        
		</div>
		
	</div>
	
    <script type="text/javascript" src="{{assets}}admin/js/main.js?v=0.1"></script>

</body>
</html>
{% spaceless %}{% endspaceless %}
