{%  if flash.success %}
<div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
     {{ flash.success }}
</div>				
{%  endif %}
{%  if flash.error %}
<div class="alert alert-danger alert-styled-left alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    {{ flash.error }}
</div>  
{%  endif %}
{%  if flash('error') %}
<ul class="alert alert-danger" >
   
   <style>
    ul.alert.alert-danger {
    padding-right: 56px;
}
ul.alert.alert-danger li {
    padding: 5px;
}
    </style>
    {% for msg in flash('error').0 %}
    <li>{{ msg }}</li>
    {% endfor %}
</ul>
{%  endif %}
{%  if flash('success') %}
<ul class="alert alert-success" style="list-style:none;">
    {% for msg in flash('success') %}
    <li>{{ msg }}</li>
    {% endfor %}
</ul>
{%  endif %}
{%  if flash('success_cart') %}
<ul class="alert alert-success" style="list-style:none;">
    <li>تم اضافة المنتوج للسلة <a class="pull-right show-cart" href='{{path_for("website.cart")}}'>عرض السلة</a></li>
</ul>
<style>
    ul.alert.alert-danger {
    padding-right: 56px;
}
ul.alert.alert-danger li {
    padding: 5px;
}

a.pull-right.show-cart {
    top: -10px;
    position: relative;
}
    </style>
{%  endif %}