<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
 

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible mt-15">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    
    
                    <li><a href="{{ path_for('admin.index')}}"><i class="icon-home4"></i> <span>{{l.sidebar.1}}</span></a></li>
                    
                    <li><a href="{{ path_for('mail')}}"><i class="icon-envelop2"></i> <span>{{l.sidebar.2}}</span></a></li>
                    <li><a href="{{ path_for('users')}}"><i class="icon-users"></i> <span>{{l.sidebar.3}}</span></a></li>
                    <li><a href="{{ path_for('media')}}"><i class="icon-camera"></i> <span>{{l.sidebar.4}}</span></a></li>
                    <li><a href="{{ path_for('pages')}}"><i class="icon-files-empty2"></i> <span>{{l.sidebar.5}}</span></a></li>
                    <li><a href="{{ path_for('posts')}}"><i class="icon-price-tag3"></i> <span>  {{l.sidebar.6}} </span></a>
                    <ul>
                        <li><a href="{{ path_for('posts')}}"><span>  {{l.sidebar.6}} </span></a></li>
                        <li><a href="{{ path_for('posts.categories')}}"><span> {{l.sidebar.17}} </span></a></li>
                        <li><a href="{{ path_for('comments')}}"><span> {{l.sidebar.19}}   </span></a></li>
                    </ul>
                    </li>
                    <li><a href="{{ path_for('menus')}}"><i class="icon-list-unordered"></i> <span>  {{l.sidebar.7}}  </span></a></li>
                    <li><a href="{{ path_for('ads')}}"><i class="icon-barcode2"></i> <span>  {{l.sidebar.8}} </span></a></li>
                    <li>
                    <a href="{{ path_for('products')}}"><i class="icon-store2"></i> <span>  {{l.sidebar.9}}  </span></a>
                        <ul>
                           <li><a href="{{ path_for('products')}}"><span>  {{l.sidebar.9}} </span></a></li>
                           <li><a href="{{ path_for('products.categories')}}"><span> {{l.sidebar.18}}</span></a></li>
                        </ul>
                    </li>
                    
                    <!-- المتجر -->
                    <li>
                    <a href="{{ path_for('orders')}}"><i class="icon-basket"></i> <span>  {{l.sidebar.10}}   </span></a>
                        <ul>
                           <li><a href="{{ path_for('orders')}}"> <span>  {{l.sidebar.33}} </span></a></li>
                           <li><a href="{{ path_for('coupons')}}"><span> {{l.sidebar.20}} </span></a></li>
                           <li><a href="{{ path_for('shipping')}}">   طرق الشحن </a></li>
                           <li><a href="{{ path_for('payments')}}"> وسائل الدفع </a></li>
                        </ul>
                    </li>
                    
                    <!--// المتجر -->
                    
                    <!-- Faq -->
                    <li><a href="{{ path_for('faqs')}}"><i class="icon-question3"></i> <span> {{l.sidebar.11}} </span></a>
                        <ul>
                            <li><a href="{{ path_for('faqs')}}"><span>  {{l.sidebar.11}}</span></a></li>
                            <li><a href="{{ path_for('faqs.categories')}}"><span>  {{l.sidebar.21}} </span></a></li>
                        </ul>
                    </li>
                    <!-- Faq -->
                    
            
                   <li>
                    <a href="{{ path_for('settings')}}"><i class="icon-gear"></i> <span>{{l.sidebar.12}}</span></a>
                    <ul>
                        <li><a href="{{ path_for('settings')}}"> {{l.sidebar.22}}  </a></li>
                        <li><a href="{{ path_for('settings.others')}}">{{l.sidebar.28}}</a></li>
                        <li><a href="{{ path_for('dangerzone.index')}}">     تفريغ المحتوى    </a></li>
                        <li><a href="{{ path_for('settings.system')}}">     معلومات النظام    </a></li>

                    </ul>
                    </li>
                   <li>
                    <a href="{{ path_for('settings')}}"><i class="icon-bucket"></i> <span>{{l.sidebar.13}}</span></a>
                    <ul>
                        <li><a href="{{ path_for('slider')}}">{{l.sidebar.29}}</a></li>
                        <li><a href="{{ path_for('beside-slider')}}">{{l.sidebar.30}}</a></li>
                        <li><a href="{{ path_for('settings.home')}}">{{l.sidebar.31}}</a></li>
                        <li><a href="{{ path_for('settings.footer')}}">{{l.sidebar.32}}</a></li>
                    </ul>
                    </li>
               
               
                </ul>
            </div>
        </div>
        <!-- /main navigation -->
        
        

        
        
        
        
    </div>
</div>
<!-- /main sidebar -->