<!-- Full width modal -->
<div id="modal_full" class="mediauploder modal fade">
<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title"></h5>
        </div>
        <div class="modal-body">
            <!-- Basic tabs -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-flat">
                        <div class="panel-body">
                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#basic-tab1" data-toggle="tab">{{l.mediauploader.1}}</a></li>
                                    <li><a href="#basic-tab2" id='medialibrary' data-toggle="tab">{{l.mediauploader.2}}</a></li>
                                </ul>
                                <div class="tab-content">
                                        <!-- uploder Tab -->
                                        <div class="tab-pane active" id="basic-tab1">
                                        <div class="simpleUplader">
                                            <center>
                                             <label for="file" class="btn btn-danger btn-rounded uploadbtn">  <i class="icon-file-upload"></i>   {{l.mediauploader.3}} </label>
                                             <input type="file"  style="visibility:hidden;" name="file" id="file" />
                                            </center>						   
                                        </div>
                                        </div>
                                        <!--// uploder Tab -->

                                        <!-- Media Library -->
                                        <div class="tab-pane" id="basic-tab2">
                                           <div class="simpleUplader2" style="padding-top:12px;">
                                           {% for item in media %}
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                   <input type="checkbox" class='mediacheckbox' value="{{url.media}}{{item.name}}" id="img{{item.id}}" />
                                                   <label for="img{{item.id}}">
                                                    <img  src="{{url.media}}{{item.name}}" >
                                                   </label>
                                                </div>
                                            </div>
                                            {% endfor  %}
                                           </div>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                        
                            <!--// Media Library -->
                            <div class="modal-footer" style="visibility:hidden;">
                                <button type="button" id='choosemedia' class="btn btn-primary">{{l.mediauploader.4}}</button>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /full width modal -->