{% extends "admin/layout.twig" %}
{% block title %} {{l.media.0}} {% endblock %}


{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
        </div>
        <div class="heading-elements">
           {% if content is not empty %}
            <a href="javascript:void(0);" class="btn bg-blue btn-labeled heading-btn showUploader"><b>
            <i class="icon-plus3"></i></b> {{l.media.1}}</a>
            <a href="javascript:void(0);"  data-toggle="modal" data-target="#modal_iconified" class="btn bg-danger btn-labeled heading-btn">
            <b><i class="icon-trash"></i></b> {{l.media.2}} </a>
                        

<div id="modal_iconified" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;{{l.bulk_modal.1}}</h5>
        </div>

        <div class="modal-body">
            <div class="alert alert-info alert-styled-left text-blue-800 content-group">
                {{l.bulk_modal.2}}
                <button type="button" class="close" data-dismiss="alert">×</button>
            </div>
            {{l.bulk_modal.4}}
            <p>
            <br>
            </p>
        </div>

        <div class="modal-footer">
            <a href="{{ path_for('media.bulkdelete') }}" class="btn btn-link text-danger">
            {{l.bulk_modal.6}}</a>
            <button class="btn btn-primary" data-dismiss="modal"> {{l.bulk_modal.7}} </button>
        </div>
    </div>
</div>
</div>
           {% endif %} 
        </div>
    </div>
</div>
<!-- /page header -->

{% if content is empty %}
<!-- empty state -->
<div class="empty_state text-center">
    <i class="icon-library2 empty_state_icon"></i>
    <h4>{{l.media.3}}</h4>
    <a href="javascript:void(0);" class="btn bg-blue btn-labeled heading-btn showUploader2"><b>
    <i class="icon-plus3"></i></b> {{l.media.4}} </a>
</div>
<!-- empty state -->
{% endif %} 
<!--
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_full">
Launch 
<i class="icon-play3 position-right"></i>
</button>
-->

<!-- File Uploader -->
<div class="container uploader_sec">
    <div class="row">
        <form method="POST" id="uploader" enctype="multipart/form-data">
           <center>
           <div id="submitResult"></div>
            <input type="file" name="file" class='uploader_input' />
            <input type="submit" value="{{l.media.23}}" class="btn btn-primary" />
            </center>
        </form>
    </div>
</div>
<!--// File Uploader -->


<!-- Media table -->
<div class="content">
{% include "admin/elements/flash.twig" %}
{% if content is not empty %}
<div class="panel panel-flat" style="margin-top:35px;">
    <table class="table media-table">
        <thead>
            <tr>
                <th><b>{{l.media.15}}</b></th>
                <th><b>{{l.media.16}}</b></th>
                <th><b>{{l.media.17}}</b></th>
                <th><b>{{l.media.18}}</b></th>
                <th><b>{{l.media.19}}</b></th>
                <th><b>{{l.media.20}}</b></th>
                <th><b>{{l.media.21}}</b></th>
            </tr>
        </thead>
        <tbody>
            {% for item in content %}
            <tr id='{{item.id}}'>
               <td><a href="{{url.media}}{{item.name}}" class='mediapreview'>
                    <img src="{{url.media}}{{item.name}}" alt="" class="img-rounded img-preview">
                </a></td>
                
                <td>Format: {{item.ext()}}</td>
                <td>{{item.created_at.toDateTimeString()}}</td>
                <td>{{item.name|file_size}}</td>
                <td><a href="{{url.media}}{{item.name}}" target="_blank"> {{l.media.12}} </a></td>
                <td><a href="{{path_for('media.download',{id: item.id})}}">  <i class="icon-download"></i> {{l.media.13}} </a></td>
                <td class="text-center">
                    <a id='DeleteMedia' data-id='{{item.id}}' class="text-danger"><i class="icon-trash"></i><b> {{l.media.14}} </b></a>
                </td>
            </tr>
            {% endfor  %}
        </tbody>
        
         <thead>
            <tr>
                <th><b>{{l.media.15}}</b></th>
                <th><b>{{l.media.16}}</b></th>
                <th><b>{{l.media.17}}</b></th>
                <th><b>{{l.media.18}}</b></th>
                <th><b>{{l.media.19}}</b></th>
                <th><b>{{l.media.20}}</b></th>
                <th><b>{{l.media.21}}</b></th>
            </tr>
        </thead>
        
    </table>
</div>
<center>{{pagination|raw}}</center>

</div>
{% endif %}
<!-- Media table -->





</div>
{% endblock %}