{% extends "admin/layout.twig" %}
{% block title %} {{l.postsCategories.15}} {% endblock %}
{% block content %}	




<!-- Main content -->
<div class="content-wrapper">



<div class="page-header page-header-default ">
    <div class="page-header-content">
        <div class="page-title">
            <h1><span class="text-semibold"><i class="icon-arrow-right6 position-left goback"></i>
{{l.postsCategories.15}}
       
       </span></h1><a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
        <div class="heading-elements"></div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{path_for('admin.index')}}" title="{{l.bread.1}}"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
            <li><a title="{{l.postsCategories.0}}" href="{{path_for('products.categories')}}">{{l.postsCategories.0}}</a></li>
            <li class="active" title="{{l.postsCategories.15}}">{{l.postsCategories.15}}</li>
        </ul>
    </div>
</div>









<!-- Content area -->
<div class="content">
			        {% include "admin/elements/flash.twig" %}
			  
			      
    <div class="panel panel-flat">
        <div class="panel-body">
            <form method="post" id='createPostCategory' action="{{path_for('posts.categories.edit' ,  {id : categorie.id})}}">
               <div id="result"></div>
                <fieldset class="content-group">
                    <legend class="text-bold">{{l.postsCategories.15}}</legend>
                    <div class="form-group">
                        <label class="control-label">{{l.postsCategories.4}}</label>
                        <input type="text" value="{{categorie.name}}" class="form-control frequired" name="name" 
                        placeholder="{{l.postsCategories.4}}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{l.postsCategories.5}}</label>
                        <input type="text" value="{{categorie.slug}}" class="form-control frequired" name="slug" placeholder="{{l.postsCategories.5}}" />
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                    {{l.postsCategories.13}}
                    <i class="icon-arrow-left13 position-right"></i>
                    </button>
                    </div>
                </fieldset>						
            </form>
        </div>
    </div>        
			      
			      
			      
			        

    </div>
</div>




















{% endblock %}