{% extends "admin/layout.twig" %}
{% block title %} {{l.postsCategories.0}}{% endblock %}
{% block content %}	

<!-- Main content -->
<div class="content-wrapper">


<div class="page-header page-header-default ">
    <div class="page-header-content">
        <div class="page-title">
            <h1><span class="text-semibold"><i class="icon-arrow-right6 position-left goback"></i>
{{l.postsCategories.0}}
       
       </span></h1><a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
        <div class="heading-elements"></div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{path_for('admin.index')}}" title="{{l.bread.1}}"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
            <li><a title="{{l.postsCategories.0}}" href="{{path_for('products.categories')}}">{{l.postsCategories.0}}</a></li>
            <li class="active" title="{{l.postsCategories.15}}">{{l.postsCategories.15}}</li>
        </ul>
    </div>
</div>

<!-- Content area -->
<div class="content">
			        {% include "admin/elements/flash.twig" %}
			  
			      <div class="col-md-6">
			          <div class="panel panel-flat">
 
        <div class="panel-body">
            <form method="post" action="{{path_for('posts.categories')}}" id="createPostCategory">
                <div id="result"></div>
                <fieldset class="content-group">
                    <legend class="text-bold">{{l.postsCategories.3}}</legend>
                    <div class="form-group">
                        <label class="control-label">{{l.postsCategories.4}}</label>
                        <input type="text" value="{%  if flash('error') %}{{old.name}}{%  endif %}" class="form-control frequired" name="name" placeholder="{{l.postsCategories.4}}">
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{l.postsCategories.5}}</label>
                        <input type="text" value="{%  if flash('error') %}{{old.slug}}{%  endif %}" class="form-control frequired" name="slug" placeholder="{{l.postsCategories.5}}">
                    </div>
                    {% if edit_page == '1' %}
                    <input type="hidden" name='edit' value="{{old.id}}">
                    {% endif %}
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                    {{l.postsCategories.6}}
                    <i class="icon-arrow-left13 position-right"></i>
                    </button>
                    </div>
                </fieldset>									
            </form>
        </div>
    </div>        
			      </div>
			      
			      
			      <div class="col-md-6">
			          <div class="panel panel-flat">
    <table class="table datatable datatable-basic">
<thead>
            <tr>
                <th><b> # </b></th>
                <th><b>{{l.postsCategories.7}}</b></th>
                <th><b>{{l.postsCategories.8}}</b></th><th><b>{{l.postsCategories.14}}</b></th>
                <th class="text-center"><b>{{l.postsCategories.10}}</b></th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
            <tr id=''>
            <td>{{categorie.id}}</td>
            <td>{{categorie.name}}</td>
            <td>{{categorie.slug}}</td>              

            <td>{{categorie.posts.count()}}</td>


            <td class="text-center">
                <ul class="icons-list">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                     
                     
                      
                     
                     <li><a target="_blank" href="{{ path_for('blog.categorie', {'id': product.id }) }}" class="text-success-600"><i class="icon-eye position-left"></i> {{l.postsCategories.11}} </a></li>
                      <li>
                      <li><a href="{{ path_for('posts.categories.edit', {'id': categorie.id}) }}" class="text-primary-600"><i class="icon-pencil7 position-left"></i>{{l.postsCategories.10}} </a></li>
                        <li><a class='text-danger' href="{{ path_for('posts.categories.delete', {'id': categorie.id}) }}"><i class="icon-trash"></i><b> {{l.postsCategories.12}}</b></a>
                        
                        </li>
                    </ul>
                </li>
                </ul>
            </td>
            </tr>
            {% endfor  %}
        </tbody>
    </table>
</div>
              <center>{{pagination|raw}}</center>
			      </div>                    
			
			        

    </div>
</div>












{% endblock %}