{% extends "admin/layout.twig" %}

{% block title %}{{l.posts.1}} {% endblock %}


{% block content %}


<!-- Main content -->
<div class="content-wrapper">





<!-- Page header -->
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h1><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">{{l.posts.1}}</span></h1>
        </div>

        <div class="heading-elements">
           {% if content is not empty %}
            <a href="{{ path_for('posts.create') }}" class="btn bg-blue btn-labeled heading-btn"><b>
            <i class="icon-plus3"></i></b> {{l.posts.2}}</a>
            
 <a href="javascript:void(0);" data-toggle="modal" data-target="#modal_iconified" class="btn bg-danger btn-labeled heading-btn"><b><i class="icon-trash"></i></b> {{l.posts.3}}</a>
                        
                        
                        <div id="modal_iconified" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;{{l.bulk_modal.1}}</h5>
        </div>

        <div class="modal-body">
            <div class="alert alert-info alert-styled-left text-blue-800 content-group">
                {{l.bulk_modal.2}}
                <button type="button" class="close" data-dismiss="alert">×</button>
            </div>
            {{l.bulk_modal.4}}
            <p>
            <br>
            </p>
        </div>

        <div class="modal-footer">
            <a href="{{ path_for('posts.bulkdelete') }}" class="btn btn-link text-danger">
            {{l.bulk_modal.6}}</a>
            <button class="btn btn-primary" data-dismiss="modal"> {{l.bulk_modal.7}} </button>
        </div>
    </div>
</div>
</div>
           {% endif %} 
        </div>
    </div>
        <div class="breadcrumb-line">
       <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="{{path_for('admin.index')}}" title="{{l.bread.1}}"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
            {#<li><a href="{{path_for('posts')}}" title="{{l.posts.1}}">{{l.posts.1}}</a></li>#}
            <li class="active" title="{{l.posts.1}}">{{l.posts.1}}</li>
            
        </ul>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">
			        {% include "admin/elements/flash.twig" %}


{% if searchView != true %}
{% if content is empty %}
			
			<style>
    .empty_state_icon {
    font-size: 176px;
    opacity: 0.1;
}
    </style>
			<div class="empty_state text-center">
			    
			<i class="icon-pencil6 empty_state_icon"></i>
		<h4> 
       {{l.posts.4}}
       
		</h4>
		<a href="{{ path_for('posts.create') }}" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-plus3"></i></b>
		{{l.posts.5}}
		</a>
		
		
		
			</div>
{% endif %}
{% endif %}



{% if content is not empty %}


<div class="container multiActionWrapper">
    <div class="col-md-12">
        <div class="row">
            <form action="{{path_for('posts.multiaction')}}" method="POST" id="multiActionForm">
                <div class="col-md-2">
                    <select name="action" class="form-control">
                        <option >تنفيذ الأمر</option>
                        <option value="duplicate">تكرار</option>
                        <option value="delete">حذف</option>
                    </select>
                </div>
                <div class="col-md-2">
                   <input type="hidden" id="ids" name='list' value="">
                    <input type="submit" class='btn btn-primary' value="تطبيق">
                </div>
            </form>
        </div>
    </div>
</div>







<div class="panel panel-flat">
        <table class="table datatable">
            <thead>
                <tr>
                                        <th><b><input  type="checkbox" id="checkAllItems"></b></th>

                    <th><b>{{l.posts.7}}</b></th>
                    <th><b>{{l.posts.8}}</b></th>
                    <th><b>{{l.posts.9}}</b></th>
                    <th><b>{{l.posts.16}}</b></th>
                    <th class="text-center"><b>{{l.posts.10}}</b></th>
                </tr>
            </thead>
            <tbody>
                {% for post in content %}
                
                <tr>
                                       <td><input type="checkbox" data-item='{{post.id}}' class='Tableitem'></td>

                    <td>
                        {% if post.title is empty %}
                    <a href="{{path_for('posts.edit', {id : post.id})}}">{{l.posts.15}}</a>
                    {% else %}
                    <a href="{{path_for('posts.edit', {id : post.id})}}">{{ post.title}}</a>
                    {% endif %}
                                                
                    </td>
                    <td>{{post.writer.username}}</td>
                    <td>{{post.created_at.toDateTimeString()}}</td>
                    <td>
                    <span class="label bg-indigo-300">{{post.categorie.name}}</span>
                    </td>
                    <td class="text-center">
                        <ul class="icons-list">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-menu9"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{path_for('website.post', {id : post.id})}}"class="text-success show_cmt"><i class="icon-eye"></i><b>{{l.posts.11}}</b></a></li>
                                    <li><a href="{{path_for('posts.edit', {id : post.id})}}" class=""><i class="icon-pencil7"></i><b>{{l.posts.12}}</b></a></li>
                                    <li><a href="{{path_for('posts.delete', {id : post.id})}}" class="text-danger"><i class="icon-trash"></i><b>{{l.posts.13}}</b></a></li>
                                     <li>
                        <a href="{{path_for('posts.clone', {id : post.id})}}" class="text-bg-info">
                  <i class="icon-stack-plus position-left"></i>{{l.posts.14}} 
              </a>
                        
                        </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor  %}
            </tbody>
            
        </table>
        
    </div>

<center>
{{pagination|raw}}
</center>
</div>
{% endif %}

</div>
{% endblock %}