{% extends "admin/layout.twig" %}
{% block title %} وسائل الدفع {% endblock %}


{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1> <span class="text-semibold">وسائل الدفع</span></h1>
        </div>

    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
{% include "admin/elements/flash.twig" %}
		
<div class="row">
    <div class="col-md-4">
      <a href="{{path_for('paypal.view')}}" >
        <div class="payment-card">
            <div class="payment-head">
                <div class="payment-logo">
                    <img src="{{assets}}admin/images/payments/paypal.png" />
                </div>
                <div class="payment-action">
                    <a href="javascript:void(0)" class="toggle-tigger rotate"><em class="ti ti-more-alt"></em></a>

                </div>
            </div>
            <div class="payment-body">
                <h5 class="payment-title">الدفع بواسطة بايبال</h5>
                <p class="payment-text">قبول المدفوعات عبر حساب PayPal من المستخدمين.</p>
                
            </div>
            <div class="payment-footer">
                <span class="payment-id-title"> تفعيل وسيلة الدفع </span>
                <span class="payment-id">
                     <label class="adminswitch">
                        <input name='active' type="checkbox"  value="active" checked />
                        <span class="slider round"></span>
                    </label>
                </span>
            </div>
        </div></a>
    </div>
    <div class="col-md-4">
       <a href="{{path_for('stripe.view')}}" >
        <div class="payment-card">
            <div class="payment-head">
                <div class="payment-logo">
                    <img src="{{assets}}admin/images/payments/bank.png" />
                </div>
                <div class="payment-action">
                    <a href="javascript:void(0)" class="toggle-tigger rotate"><em class="ti ti-more-alt"></em></a>

                </div>
            </div>
            <div class="payment-body">
                <h5 class="payment-title">الدفع عند الإستلام</h5>
                <p class="payment-text"> قبول المدفوعات من المستخدمين عند الإستلام.</p>
            </div>
            
            
              <div class="payment-footer">
                <span class="payment-id-title"> تفعيل وسيلة الدفع </span>
                <span class="payment-id">
                     <label class="adminswitch">
                        <input name='active' type="checkbox"  value="active" checked />
                        <span class="slider round"></span>
                    </label>
                </span>
            </div>
        </div></a>
    </div>
    <div class="col-md-4">
       <a href="{{path_for('settings.stripe')}}" >
        <div class="payment-card">
            <div class="payment-head">
                <div class="payment-logo">
                    <img src="{{assets}}admin/images/payments/stripe.png" />
                </div>
                <div class="payment-action">
                    <a href="javascript:void(0)" class="toggle-tigger rotate"><em class="ti ti-more-alt"></em></a>

                </div>
            </div>
            
             <div class="payment-body">
                <h5 class="payment-title">الدفع ببطاقة الإئتمان</h5>
                <p class="payment-text"> قبول المدفوعات من المستخدمين بواسطة بطاقة الإئتمان</p>
            </div>
           <div class="payment-footer">
                <span class="payment-id-title"> تفعيل وسيلة الدفع </span>
                <span class="payment-id">
                     <label class="adminswitch">
                        <input name='active' type="checkbox"  value="active" checked />
                        <span class="slider round"></span>
                    </label>
                </span>
            </div>
        </div></a>
    </div>

</div>

</div>

</div>


{% endblock %}	