{% extends "admin/layout.twig" %}
{% block title %} {{l.settings.114}} {% endblock %}


{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1> <span class="text-semibold">الدفع بواسطة بايبال</span></h1>
        </div>

        
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
		{% include "admin/elements/flash.twig" %}
		

	<div class="panel panel-flat col-md-8">
		


		<div class="panel-body">
			<form class="form-horizontal" enctype='multipart/form-data' method="post" action="{{path_for('ads.create')}}" />
				<fieldset class="content-group">
			

                
<div class="form-group switechers">
    <label class="control-label col-lg-3">تفعيل الدفع بواسطة بايبال</label>
    <div class="col-lg-9">
        <label class="adminswitch">
    <input name='active' type="checkbox"  value="active" checked />
    <span class="slider round"></span>
    </label>
    </div>
</div>
                    
         
<div class="row">      
<div class="col-md-6">
<div class="form-group">
    <label class="control-label col-lg-3">عنوان وسيلة الدفع</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" name="name" />
      
    </div>
</div>
	</div>          				
					
					
	<div class="col-md-6">			
<div class="form-group">
    <label class="control-label col-lg-3">الوصف</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" name="name" />
      
    </div>
</div>	</div>   
</div>          
                
                
                
<div class="row">      
<div class="col-md-6">        
                
       <div class="form-group">
    <label class="control-label col-lg-3">اميل البايبال</label>
    <div class="col-lg-9">
        <input type="text" class="form-control" name="name" />
      
    </div>
</div>          
   </div>
<div class="col-md-6">        
       <div class="form-group">
     <label class="control-label col-lg-3">تفعيل حالة التجربة</label>
    <div class="col-lg-9">
        <label class="adminswitch">
    <input name='active' type="checkbox"  value="active" checked />
    <span class="slider round"></span>
    </label>
    </div>
</div>          
                
   </div>
   
</div> 
       
       			
       									

               
         
<div class="row">    

  
  <div class="col-md-12"> <h2>معلومات البايبال</h2> 
       <h3>أدخل بيانات اعتماد PayPal API لاستلام الدفع والتحقق من الدفع تلقائيًا.</h3>
       </div>
        
<div class="col-md-6">
<div class="form-group">
    <label class="control-label">API Client ID
</label>
    
        <input type="text" class="form-control" value="AXTyHcfng4vKs2j0Jpoa31GjF-b2w9Inkn4KgoIaEue2vOaxo0A8c9FBFvrZg06TGbOH3KKNDT4UeuIL" name="name" />
      
   
</div>
	</div>          				
					
					
	<div class="col-md-6 pd15">			
<div class="form-group">
    <label class="control-label">API Client Secret</label>
    
        <input type="password" value="AXTyHcfng4vKs2j0Jpoa31GjF-b2w9Inkn4KgoIaEue2vOaxo0A8c9FBFvrZg06TGbOH3KKNDT4UeuIL" class="form-control" name="name" />
      
   
</div>	</div>   
</div>          
             


				</fieldset>
				<div class="text-right">
					<button type="submit" class="btn btn-primary" id="Submit_AD_ADS_FORM">حفظ التغييرات<i class="icon-arrow-left13 position-right"></i></button>
				</div>
			
		</div>
				<div id="submitResult"></div>

	</div>

    <div class="col-md-4">
							<div class="panel">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>
{{l.createads.13}}
											
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.14}}</b>
											<br>
											<p class="mg10">{{l.createads.15}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.16}}</b>
											<br>
											<p class="mg10">{{l.createads.17}}</p>
										</li>                                        
								            <li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.18}}</b>
											<br>
											<p class="mg10">{{l.createads.19}}<span dir="ltr">http://</span> </p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.20}}</b>
											<br>
											<p class="mg10">
											    {{l.createads.21}}
											    jpeg,png,gif
											</p>
										</li>
									<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.23}}</b>
											<br>
											<p class="mg10">
											   {{l.createads.24}}
											</p>
										</li>										
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.25}}</b> 
											<br>
											<p class="mg10"> {{l.createads.26}} </p>
										</li>

									</ul>
								</div>                     
        </div>
        

							
						
							
							
        

    </div>


		
	
</div>


</div>




{% endblock %}	