{% extends "admin/layout.twig" %}
{% block title %} {{l.settings.114}} {% endblock %}


{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1> <span class="text-semibold">{{l.settings.114}}</span></h1>
        </div>

        <div class="heading-elements">
            <a href="?export=database" class="btn bg-blue btn-labeled heading-btn"><b><i class="icon-download"></i></b> {{l.settings.116}}</a>


        </div>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
		{% include "admin/elements/flash.twig" %}
<div class="col-md-8">
	<div class="panel panel-flat">
		<div class="panel-heading no-padding-bottom">
			<h3 class="panel-title">{{l.settings.118}}</h3>
			<p class="no-margin-bottom">{{l.settings.119}}</p>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" id="generalSettings" method="post" action="{{path_for('settings.general')}}" enctype='multipart/form-data'>
			<input type="hidden" name='logochanged' id='logochanged' value='false'>
			<input type="hidden" name='faviconchanged' id='faviconchanged' value='false'>
			
			
				<fieldset class="content-group">
					<legend class="text-bold"></legend>
					
					<style>
                    
                    .setting-preview-img {
    width: 250px;
    height: 90px;
    border: 1px solid whitesmoke;
    overflow: hidden;
}

.setting-preview-img img {
    width: 100%;
}
                    </style>
					
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.120}}</label>
						<div class="col-lg-9">
							<div class="col-lg-3">
							   <label for="logo" class="btn btn-danger btn-rounded"><i class="icon-image2 position-left"></i>
							    {{l.settings.121}}</label>
							   <input name="logo" id="logo" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
						</div>
						</div>
						<div class="col-md-12">
				         <label class="control-label col-lg-3"></label>
						 <div class="setting-preview-img">
						<img src="{{url.general }}{{  'logo'|options }}" alt="">
						</div>
						</div>
						
					</div>
					
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.122}} </label>
						<div class="col-lg-9">
							<div class="col-lg-3">
							   <label for="favicon" class="btn btn-danger btn-rounded"><i class="icon-image2 position-left"></i> اختيار {{l.settings.123}} </label>
							   <input name="favicon" id="favicon" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
						</div>
						</div>
						
						<div class="col-md-12">
				         <label class="control-label col-lg-3"></label>
						 <div class="setting-preview-img">
						<img src="{{url.general }}{{  'favicon'|options }}" alt="">
						</div>
						</div>
						
					</div>
					<hr>
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.124}}</label>
						<div class="col-lg-9">
							<input type="text" class="form-control frequired" value="{{ 'name'|options }}" name="name" 
							placeholder="{{l.settings.124}}" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.125}}</label>
						<div class="col-lg-9">
							<input type="text" class="form-control"  value="{{ 'description'|options }}" name="description" placeholder="اسم الموقع">
							<p>{{l.settings.126}}</p>
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.127}}</label>
						<div class="col-lg-9">
							<textarea name="keywords" class="form-control" rows="3">{{ 'keywords'|options }}</textarea>
						</div>
					</div>				
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.128}}</label>
						<div class="col-lg-9">
							<select name="mode" class="form-control">
                               {% if 'mode'|options  == '1' %}
                                <option value="1" class="form-control">{{l.settings.129}}</option>
                                <option value="2" class="form-control">{{l.settings.130}}</option>
                                {% endif %}
                                
                                {% if 'mode'|options  == '2' %}
                                <option value="2" class="form-control">{{l.settings.130}}</option>
                                <option value="1" class="form-control">{{l.settings.129}}</option>
                                {% endif %}
                                
                            </select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.133}}</label>
						<div class="col-lg-9">
							<select name="statue" class="form-control">
                                <option value="1" class="form-control">{{l.settings.134}}</option>
                                <option value="2" class="form-control">{{l.settings.135}}</option>
                            </select>
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.136}}</label>
						<div class="col-lg-9">
							<select name="statue" class="form-control">
                                <option value="1" class="form-control">{{l.settings.137}}</option>
                                <option value="2" class="form-control">{{l.settings.138}}</option>
                            </select>
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.139}}</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" value="{{ 'phone'|options }}" name="phone" placeholder="رقم الهاتف" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.140}}</label>
						<div class="col-lg-9">
							<input type="text" value="{{ 'email'|options }}" class="form-control" name="email" placeholder="البريد الإلكتروني" />
						</div>
					</div>	
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.141}}</label>
						<div class="col-lg-9">
							<input type="text" value="{{ 'adress'|options }}" class="form-control" name="adress" placeholder="العنوان على ارض الواقع" />
						</div>
					</div>		
					
                    <div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.142}}</label>
						<div class="col-lg-9">
							<input type="text" value="{{ 'ganalitycs'|options }}" class="form-control" name="ganalitycs" placeholder="رمز Google Analitycs" />
						</div>
					</div>	
                    
                    <div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.143}}</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" placeholder="Google play App link" />
						</div>
					</div>	                    
                    <div class="form-group">
						<label class="control-label col-lg-3">{{l.settings.144}}</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" placeholder="Apple Store App link" />
						</div>
					</div>	






<!--

                    <div class="form-group">
						<label class="control-label col-lg-3">Time Zone</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="Time Zone" />
						</div>
					</div>	
                    <div class="form-group">
						<label class="control-label col-lg-3">Date Format</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="Date Format" />
						</div>
					</div>	
                    <div class="form-group">
						<label class="control-label col-lg-3">reCAPTCHA public key</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name=""  />
						</div>
					</div>	
                    <div class="form-group">
						<label class="control-label col-lg-3">reCAPTCHA private key</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" />
						</div>
					</div>																
                    <div class="form-group">
						<label class="control-label col-lg-3">google maps api</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" />
						</div>
					</div>																



                                
-->





			
				</fieldset>
				<div class="text-right">
					<input type="hidden" name="validate" value="general_settings">
					<button type="submit" class="btn btn-primary">{{l.settings.145}}<i class="icon-arrow-left13 position-right"></i></button>
				</div>
				<br>
				<div id="result"></div>
			</form>
		</div>
	</div>
</div>
   <div class="col-md-4">
							<div class="panel">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>

											{{l.settings.146}}
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.147}}</b>
											<br>
											<p class="mg10">{{l.settings.148}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.149}}</b>
											<br>
											<p class="mg10">{{l.settings.150}}</p>
										</li>                                        
								            <li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.151}}</b>
											<br>
											<p class="mg10">{{l.settings.152}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.153}}</b>
											<br>
											<p class="mg10">
											    {{l.settings.154}}
											</p>
										</li>
																	
										

                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
									</ul>
								</div>                     
        </div>
        
							

        
    </div>

</div>


</div>




<!-- تغيير الصورة الجديدة -->
<script>
$("#logo").change(function(){    
    $("#logochanged").val("true");          // جعل القيمة تم تغييره
});    
</script>
<script>
$("#favicon").change(function(){    
    $("#faviconchanged").val("true");          // جعل القيمة تم تغييره
});    
</script>






{% endblock %}	