{% extends "admin/layout.twig" %}
{% block title %}   {{l.others.201}}   {% endblock %}
{% block content %}

<!-- Main content -->
<div class="content-wrapper">


		


<!-- Content area -->
<div class="content">
		
		{% include "admin/elements/flash.twig" %}


<div class="col-md-8">
	<div class="panel panel-flat ">
		<div class="panel-body">
			<form class="form-horizontal" method="post" action="{{path_for('settings.others')}}">
				<fieldset class="content-group">
					<div class="form-group">
						<label class="control-label">{{l.others.202}}  </label>
						<textarea  class="form-control" name="other_head_scripts" cols="30" rows="10">{{ 'other_head_scripts'|options }}</textarea>
					</div>
				</fieldset>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">{{l.others.203}}  <i class="icon-arrow-left13 position-right"></i></button>
				</div>
			</form>
		</div>
	</div>
   
   
   
	<div class="panel panel-flat ">
		<div class="panel-body">
			<form class="form-horizontal" method="post" action="{{path_for('settings.others')}}">
				<fieldset class="content-group">
					<div class="form-group">
						<label class="control-label"> {{l.others.204}}  </label>
						<textarea  class="form-control" name="other_footer_scripts" cols="30" rows="10">{{ 'other_footer_scripts'|options }}</textarea>
					</div>
				</fieldset>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">{{l.others.205}}  <i class="icon-arrow-left13 position-right"></i></button>
				</div>
			</form>
		</div>
	</div>
   </div>
   <div class="col-md-4">
<div class="panel">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>

											{{l.others.206}} 
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.others.207}} </b>
											<br>
											<p class="mg10">{{l.others.208}} 
											
											<br>
											&lt;head&gt;&lt;/head&gt;</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.others.210}} </b>
											<br>
											<p class="mg10">
											   {{l.others.211}} 
											    <br>
                                        &lt;/body&gt;

											    
											    
											    
											</p>
										</li>                                        
								            <li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.others.213}} </b>
											<br>
											<p class="mg10">
											    {{l.others.214}} 
											 </p>
										</li>
										
										

									</ul>
								</div>                     
        </div>
        
							

</div>
    </div>
   
   
   
    </div>


{% endblock %}	