{% extends "admin/layout.twig" %}
{% block title %} {{l.settings.114}} {% endblock %}


{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1> <span class="text-semibold">وسائل الدفع</span></h1>
        </div>

        
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
		{% include "admin/elements/flash.twig" %}
		
		
		
		

		
		
		
<div class="col-md-8">







<style>
.payment-card {
    position: relative;
    border-radius: 4px;
    border: 1px solid #d2dde9;
    transition: all .4s;
    overflow: hidden;
    background: white;
}
.payment-head {
    position: relative;
    background-color: #f8fbff;
    border-bottom: 1px solid #e6effb;
}
.payment-logo {
    height: 100px;
    text-align: center;
}
.payment-logo img {
    height: 100%;
}
.payment-body {
    text-align: center;
    padding: 31px 35px 37px;
}
.payment-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #e6effb;
    padding: 30px 25px;
}
.payment-id {
    font-size: 14px;
    color: #495463;
    margin-left: auto;
}    
</style>



	<div class="panel panel-flat">
		<div class="panel-heading no-padding-bottom">
			<h3 class="panel-title">Store settings</h3>
			<p class="no-margin-bottom">{{l.settings.119}}</p>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" id="generalSettings" method="post" action="{{path_for('settings.general')}}" enctype='multipart/form-data'>
			<input type="hidden" name='logochanged' id='logochanged' value='false'>
			<input type="hidden" name='faviconchanged' id='faviconchanged' value='false'>
			
			
				<fieldset class="content-group">
					<legend class="text-bold"></legend>
					
                    <div class="form-group">
						<label class="control-label col-lg-3">Time Zone</label>
						<div class="col-lg-9">
						{{listTimeZone|raw}}
							
						</div>
					</div>	
                    <div class="form-group">
						<label class="control-label col-lg-3">Date Format</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="Date Format" />
						</div>
					</div>	
                    <div class="form-group">
						<label class="control-label col-lg-3">reCAPTCHA public key</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name=""  />
						</div>
					</div>	
                    <div class="form-group">
						<label class="control-label col-lg-3">reCAPTCHA private key</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" />
						</div>
					</div>																
                    <div class="form-group">
						<label class="control-label col-lg-3">google maps api</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" />
						</div>
					</div>		
                    <div class="form-group">
						<label class="control-label col-lg-3">if not image exist</label>
						<div class="col-lg-9">
							<input type="text" value="" class="form-control" name="" />
						</div>
					</div>	

				</fieldset>
				<div class="text-right">
					<input type="hidden" name="validate" value="general_settings">
					<button type="submit" class="btn btn-primary">{{l.settings.145}}<i class="icon-arrow-left13 position-right"></i></button>
				</div>
				<br>
				<div id="result"></div>
			</form>
		</div>
	</div>
</div>
   <div class="col-md-4">
							<div class="panel">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>

											{{l.settings.146}}
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.147}}</b>
											<br>
											<p class="mg10">{{l.settings.148}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.149}}</b>
											<br>
											<p class="mg10">{{l.settings.150}}</p>
										</li>                                        
								            <li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.151}}</b>
											<br>
											<p class="mg10">{{l.settings.152}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.settings.153}}</b>
											<br>
											<p class="mg10">
											    {{l.settings.154}}
											</p>
										</li>
																	
										

                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
									</ul>
								</div>                     
        </div>
        
							

        
    </div>

</div>


</div>




<!-- تغيير الصورة الجديدة -->
<script>
$("#logo").change(function(){    
    $("#logochanged").val("true");          // جعل القيمة تم تغييره
});    
</script>
<script>
$("#favicon").change(function(){    
    $("#faviconchanged").val("true");          // جعل القيمة تم تغييره
});    
</script>






{% endblock %}	