{% extends "admin/layout.twig" %}
{% block title %} {{l.settings.114}} {% endblock %}


{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1> <span class="text-semibold">معلومات النظام</span></h1>
        </div>

        
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
		{% include "admin/elements/flash.twig" %}
		

	<div class="panel panel-flat col-md-12">
		


		<div class="panel-body">
			
			
			<table class="table table-bordered-plain table-lg table-plain-info fs-13">
								<tbody>
								
								<tr>
									<td width="250">Server Info</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The main URL of your application set in .env file."></em>
									</td>
									<td>Apache</td>
								</tr>
								<tr>
									<td width="250">PHP Version</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The version of PHP installed on your hosting server."></em>
									</td>
									<td> 
										{{info.phpv}}
									</td>
								</tr>
								<tr>
									<td width="250">cURL version</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The version of cURL on your server."></em>
									</td>
									<td>
									 {{info.curlv}}
									
										
									</td>
								</tr>
								<tr>
									<td width="250">MySQL Version</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The version of MySQL installed on your hosting server."></em>
									</td>
									<td> 
									{{info.mysqlv}}
									
									</td>
								</tr>
								<tr>
									<td width="250">PHP Post Max Size</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The largest file size that can be contained in one post."></em>
									</td>
									<td> 
										{{info.phppostmax}}  
									</td>
								</tr>
								<tr>
									<td width="250">Max Upload Size</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The largest file size that can be contained in one post."></em>
									</td>
									<td> 
										{{info.phpmaxupload}} 
									</td>
								</tr>
								<tr>
									<td width="250">PHP Memory Limit</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The maximum amount of memory (RAM) that your site can use at one time."></em>
									</td>
									<td> 
										{{info.phpmemorylimit}} 
									</td>
								</tr>
								<tr>
									<td width="250">PHP Time Limit</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The amount of time (in seconds) that your site will spend on a single operation before timing out (to avoid server lockups)"></em>
									</td>
									<td> 
										{{info.phptimelimit}} 
									</td>
								</tr>
								<tr>
									<td width="250">PHP Max Input Vars</td>
									<td width="24" class="text-center">
										<em class="ti ti-help-alt fs-11" data-toggle="tooltip" data-placement="top" title="" data-original-title="The maximum number of variables your server can use for a single function to avoid overloads."></em>
									</td>
									<td> 
										{{info.phpmaxinputvars}} 
									</td>
								</tr>
							</tbody></table>


			
			
			
			
			
			
			
			
					
																												










																							
		</div>
			

	</div>


		
	
</div>


</div>




{% endblock %}	