{% extends "admin/layout.twig" %}
{% block title %} {{l.productsCreate.260}} {% endblock %}
{% block content %}



<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

     
       
        {% include "admin/elements/flash.twig" %}
        <form class="form-horizontal" method='POST' action="{{path_for('products.store')}}" enctype="multipart/form-data" >
        <div class="col-md-9">
            <div class="panel panel-flat">
                <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">{{l.productsCreate.260}}</legend>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.261}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="title"  value="{{ old.title }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.262}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="slug" value="{{ old.title }}">
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.263}}</label>
                                <div class="col-lg-10">
                                   <textarea rows="5" name="description" class="form-control" >{{ old.price }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.productsCreate.264}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="price" value="{{ old.price }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2"> {{l.productsCreate.265}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="discount_price" value="{{ old.discount_price }}">
                                </div>
                            </div>
                        </fieldset>
                </div>
            </div>
            
            <div class="panel panel-flat">
               <div class="panel-head">
                   
               </div>
                <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">product videos ( youtube links only ) </legend>
                           
<div class="input-group videolist" style="margin-bottom: 15px">
<span class="input-group-addon"><i class="icon-youtube"></i></span>
<input type="text" name='videos[]' class="form-control" placeholder="youtube link">
</div>
                            <a href="javascript:;" id="AddMoreProductVideos" style="margin-top: 5px;" >+ add more videos</a>
                    </fieldset>
                </div>
            </div>
   </div>
   
   
<div class="col-md-3">

  <button type="submit" class="btn btn-block btn-primary">
       {{l.productsCreate.266}} 
       <i class="icon-arrow-left13 position-right"></i>
   </button>
   <br>
   
   
   <div class="form-group">
      <div class="col-md-12">
           <label for="" >تفعيل المنتوج</label>
       <label class="adminswitch" style='float: left;'>
                        <input name='active' type="checkbox"  value="active" checked />
                        <span class="slider round"></span>
                    </label>
      </div>
   </div>
   
                    
         <br>           
                    
                    
    <!-- chose thumbnail -->
    <div class="panel panel-white">
        <div class="panel-heading">
        {{l.productsCreate.267}}
        </div>
        <div class="panel-body">
                     
            <a class="btn btn-danger btn-rounded" data-type='single' data-input='' data-preview='#productThumbnail' data-toggle="modal" href="javascript:;" data-target="#MediaUploaderModal">
                <i class="icon-image2 position-left"></i> رفع الوسائط 
            </a>
            
            <div id="MediaThumbnail"> </div>
            
            

        </div>
    </div>

    <!-- product Gallery -->
    <div class="panel panel-white">
        <div class="panel-heading">
        {{l.productsCreate.269}}
        </div>
        <div class="panel-body">
            <a data-toggle="modal" data-target="#modal_full"><i class="icon-image2 position-left"></i> Chose image </a>
            <div class="gallery"></div>
        </div>
    </div>
    <!-- product Gallery -->  
    
    
    <!-- product categories -->
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title"> {{l.productsCreate.271}} </h6>
        </div>

        <div class="panel-body">
             <select  name="category" style="width:100%;" class="areaUndetected">
                <option value="NOTDEFFINED">{{l.productsCreate.272}}</option>
                {% for categorie in categories %}
                <option value="{{categorie.id}}">{{categorie.name}}</option>
                {% endfor %} 
        </select>
        </div>
    </div>
    <!-- product categories -->-
    
</div>
</form>
   
    </div>
</div>            
{% endblock %}
