{% extends "admin/layout.twig" %}
{% block title %} {{l.editproducts.1}} {% endblock %}
{% block content %}


{% include "admin/elements/uploader.twig" %}



<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        {% include "admin/elements/flash.twig" %}
        <form class="form-horizontal" method='post' action="{{path_for('products.store', {id : content.id})}}"  autocomplete="off" enctype="multipart/form-data" >
        			<input type="hidden" id='isAdChanged' name="isAdChanged" value="false" />
        <div class="col-md-9">
            <div class="panel panel-flat ">
                <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">{{l.editproducts.1}}</legend>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.editproducts.2}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="title" value="{{ content.name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.editproducts.3}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control"  name="slug"  value="{{ content.slug }}">
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.editproducts.4}}</label>
                                <div class="col-lg-10">
                                   <textarea rows="5" name="description" class="form-control">{{ content.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.editproducts.5}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name='price' value="{{ content.price }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.editproducts.6}}</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="discount_price" value="{{ content.discount_price }}">
                                </div>
                            </div>
                        </fieldset>
                </div>
            </div>
           
  <div class="panel panel-flat">
               <div class="panel-head">
                   
               </div>
                <div class="panel-body">
                        <fieldset class="content-group">
                            <legend class="text-bold">product videos ( youtube links only ) </legend>
                           {% for item in content.videos() %}
<div class="input-group videolist" style="margin-bottom: 15px">
<span class="input-group-addon"><i class="icon-youtube"></i></span>
<input type="text" name='videos[]' value='{{item}}' class="form-control" placeholder="youtube link">
{% if not loop.first %}
                          
                          <a><i class="icon-close2"></i></a>
                          
                          {% endif %}
                          </div>
                           {% endfor %}
                            <a href="javascript:;" id="AddMoreProductVideos" style="margin-top: 5px;" >+ add more videos</a>
                    </fieldset>
                </div>
            </div>
   </div>
   
   
<div class="col-md-3">
  
  
   <button type="submit" class="btn btn-block btn-primary"> {{l.editproducts.10}} <i class="icon-arrow-left13 position-right"></i></button>
   <br>
   
   
   
    <!-- product thumbnail -->
    <div class="panel panel-white">
        <div class="panel-heading">
            {{l.productsCreate.267}}
           <div class="heading-elements" >
                <ul class="icons-list">
                    {% if content.thumbnail  != " "  %}
                        <li ><a id='deleteImage'><i class="icon-cross2 position-right" ></i> {{l.editproducts.9}}  </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="panel-body">
          <div class="preview-thumbnail">
                   {% if content.thumbnail != " "  %}
                    <img src="{{url.products}}{{content.thumbnail}}" id="product_thumbnail"  />
                   {% endif %}
            </div>
           <label for="ProductThumbnail" class="btn btn-danger btn-rounded chosethumbnailBtn"><i class="icon-image2 position-left"></i>{{l.editproducts.11}}</label>
			<input name="ProductThumbnail" id="ProductThumbnail" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
        </div>
    </div>
    <!-- product thumbnail -->
    
    
    

<!-- product gallery -->
<div class="panel panel-white">
<div class="panel-heading">
{{l.editproducts.13}}
</div>
<div class="panel-body">
   <a data-toggle="modal" data-target="#modal_full"><i class="icon-image2 position-left"></i> {{l.editproducts.12}} </a>
   <div class="gallery">
    
   {% for image in content.gallery() %}
      
       <div class="galleryitem">
           <img src="{{assets}}/admin/images/mediaDelete.png" id="removeitem" />
       <img src="{{url.media}}{{image}}" />
       <input type="hidden" name="gal[]" value="{{url.media}}{{image}}"  /></div>
       {% endfor %}
   </div>
  </div>
</div>
<!-- product gallery -->
    
    
<!-- product category -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title"> {{l.editproducts.8}}  </h6>
    </div>
    <div class="panel-body">
         <select  name="category" style="width:100%;" class="areaUndetected">
            <option value="NOTDEFFINED">{{l.editproducts.14}}</option>
            {% for categorie in categories %}
            <option value="{{categorie.id}}">{{categorie.name}}</option>
            {% endfor %} 
        </select>
    </div>
</div>
<!--// product category -->

    
</div>
</form>
   
    </div>
</div>            
{% endblock %}	
            
            