{% extends "admin/layout.twig" %}
{% block title %} {{l.Adsedit.2}} {% endblock %}

{% block content %}	


<!-- Main content -->
<div class="content-wrapper">


<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1><span class="text-semibold">{{l.Adsedit.2}}</span></h1>
        </div>
    </div>
</div>
    
    
    
<!-- Content area -->
<div class="content">
		
{% include "admin/elements/flash.twig" %}
	<div class="panel panel-flat col-md-8">
		


		<div class="panel-body">
			<form class="form-horizontal" enctype='multipart/form-data' method="post" action="{{ path_for('ads.update', {'id': content.id}) }}" />
			<input type="hidden" value="{{content.area}}" id="adsarea">
			
			<input type="hidden" id='isAdChanged' name="isAdChanged" value="false" />
			
				<fieldset class="content-group">
			

                
                <div class="form-group switechers">
                	<label class="control-label col-lg-3">{{l.Adsedit.3}}</label>
                    <div class="col-lg-9">
                    <label class="adminswitch">
                        <input name='active' type="checkbox"  value="active"  {% if content.statue  == 1 %} checked="checked" {% endif %} />
                        <span class="slider round"></span>
                    </label>
                    </div>
                    </div>
                    
                    
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.Adsedit.4}}</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" name="name" value='{{content.name}}'/>
							<p class="text-muted">{{l.Adsedit.5}}</p>
						</div>
					</div>
					
					<div class="tie-option-pre-label">{{l.Adsedit.6}}</div>
					<hr>
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.Adsedit.7}}</label>
						<div class="col-lg-3">
							   <label for="avatarUploadPreview" class="btn btn-danger btn-rounded"><i class="icon-image2 position-left"></i> {{l.Adsedit.8}}</label>
							   <input name="image" id="avatarUploadPreview" accept="image/jpg, image/jpeg, image/png" style="visibility:hidden;" type="file" />
						</div>
						
					</div>
					
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.Adsedit.9}}</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" value='{{content.url}}' name="link" />
						</div>
					</div>
					
					<div class="tie-option-pre-label">{{l.Adsedit.10}}</div>
					<hr>
					<div class="form-group">
						<label class="control-label col-lg-3">{{l.Adsedit.11}}
						</label>
						<div class="col-lg-9">
                            <p class="text-muted">{{l.Adsedit.12}}</p>
							<textarea name="codehtml" class="form-control" rows="8">{{content.htmlcode}}</textarea>
						</div>
					</div>
					
					
					
					
					
            <div class="form-group">
                <label class="col-sm-3 control-label">تاريخ بدأ الصلاحية</label>
                <div class="col-sm-9">
                    <div class="input-group date">
                        <input type="text" name="date_start" placeholder="تاريخ بدأ الصلاحية" id="input-date-start" class="form-control">
                        <span class="input-group-btn">
<button type="button" class="btn btn-default"><i class="icon-calendar3"></i></button>
</span></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">تاريخ انتهاء الصلاحية</label>
                <div class="col-sm-9">
                    <div class="input-group date">
                        <input type="text" name="date_end" placeholder="تاريخ انتهاء الصلاحية" class="form-control">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="icon-calendar3"></i></button>
                        </span></div>
                </div>
            </div>
					
				</fieldset>
				<div class="text-right">
					<button type="submit" class="btn btn-primary" >{{l.Adsedit.13}}<i class="icon-arrow-left13 position-right"></i></button>
				</div>
		
		</div>
				<div id="submitResult"></div>

	</div>

    <div class="col-md-4">
    
    
    
    <div class="panel">
								<div class="panel-body">
									<h5 class="content-group">
										<span class="label label-flat label-rounded label-icon border-grey text-grey mr-10">
											<i class="icon-info3"></i>
										</span>
{{l.createads.13}}
											
										
									</h5>


									<ul class="list list-icons">
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.14}}</b>
											<br>
											<p class="mg10">{{l.createads.15}}</p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.16}}</b>
											<br>
											<p class="mg10">{{l.createads.17}}</p>
										</li>                                        
								            <li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.18}}</b>
											<br>
											<p class="mg10">{{l.createads.19}}<span dir="ltr">http://</span> </p>
										</li>
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.20}}</b>
											<br>
											<p class="mg10">
											    {{l.createads.21}}
											    jpeg,png,gif
											</p>
										</li>
									<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.23}}</b>
											<br>
											<p class="mg10">
											   {{l.createads.24}}
											</p>
										</li>										
										<li>
											<i class="icon-checkmark-circle text-success position-left"></i>
											<b>{{l.createads.25}}</b> 
											<br>
											<p class="mg10"> {{l.createads.26}} </p>
										</li>

									</ul>
								</div>                     
        </div>
    
    
    
    
    
    
    
    
    
    
    
				
	<div class="panel panel-white">
								<div class="panel-heading">
									<h6 class="panel-title"> {{l.Adsedit.14}}</h6>
								</div>

								<div class="panel-body">
									 <select  name="areaUndetected" style="width:100%;" class="areaUndetected">
                                        <option value="not_speci">غير محدد بعد</option>
                                      <option value="home_1">الرئيسية الإعلان 1</option>
                                        <option value="home_2">الرئيسية الإعلان 2</option>
                                        <option value="home_3">الرئيسية الإعلان 3</option>
                                        <option value="home_4">الرئيسية الإعلان 4</option>
                                        <option value="home_5">الرئيسية الإعلان 5</option>
                                        <option value="home_6">الرئيسية الإعلان 6</option>
                                     
                                </select>
								</div>
							</div>
							</form>		
        
      
        
        <div class="panel panel-flat" {% if content.image  == " "  %}  style="display:none;" {% endif %}  id="ads-show"> 
        <div class="panel-heading">
           {{l.Adsedit.22}}
            <div  class="heading-elements"  >
            
            <ul class="icons-list">
                <li style="display:none" id='delete-ad'><a onclick="clean()" ><i class="icon-cross2 position-right" ></i>{{l.Adsedit.23}}</a></li>
                {% if content.image  != " "  %}
                    <li ><a id='deleteoldad'><i class="icon-cross2 position-right" ></i> {{l.Adsedit.24}} </a></li>
                {% endif %}
            </ul>
            
            
        
            </div>
            
            
        </div>
    <div class="panel-body">
       <div class="ads-preview"><img id='profile_avatar' src="{{ads_url}}{{content.image}}"  /></div>
    </div>
</div>
    </div>













	
    </div>
    
    
    
    
	
	
	
{% endblock %}	

