{% spaceless %}
<!DOCTYPE html >

<!--[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=10">
	<link rel="canonical" href="{{url.base}}" />
	
	<meta name="theme-color" content="#e0493e">
	<meta name="description" content="{{ 'description'|options }}" />
	<meta name="keywords" content="{{ 'keywords'|options }}">

	<title>{{ 'name'|options }} - {% block title %} {% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="{{url.general }}{{  'favicon'|options }}" /> 
		
    <!-- meta tags for share twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hamagiftshop">
    <meta name="twitter:creator" content="@hamagiftshop">
    <meta name="twitter:title" content="{{ 'name'|options }}">
    <meta name="twitter:description" content="{{ 'description'|options }}">
    <meta name="twitter:image" content="">
    <meta name="twitter:domain" content="{{url.base}}">
    
    <!-- meta tags for share facebook -->
    <meta property="og:title" content="Hamacrafts" data-dynamic="true">
    <meta property="og:site_name" content="{{ 'name'|options }}" data-dynamic="true">
    <meta property="og:url" content="{{url.base}}" data-dynamic="true">
    <meta property="og:description" content="{{ 'description'|options }}" data-dynamic="true">
    <meta property="og:image" content="" data-dynamic="true">
    <meta property="og:image:width" content="600" data-dynamic="true">
    <meta property="og:image:height" content="315" data-dynamic="true">
    <meta property="og:image:type" content="image/png" data-dynamic="true">
    <meta property="fb:app_id" content="237152040017888" data-dynamic="true">
	
	<!-- all css at once -->
	<link href="/assets/styles.min.css?v=1.2" rel="stylesheet" type="text/css" media="all">  
	

	<!-- all js at once -->
    {#<script type="text/javascript" src="/assets/script.min.js?v=1"></script>#}

    {{ 'other_head_scripts'|options|raw }}

</head>

<body class="index-template sarahmarket_1">
<!-- add to cart modal -->
<div class="modal fade" id="addedTocCart" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style='width:730px;' >
    <div class="modal-content">
      <div class="modal-body">
        <h5><i class="fa fa-check" aria-hidden="true"></i>
 A new item has been added to your Shopping Cart. You now have <span id='countCart'></span> items in your Shopping Cart.</h5>
    <center>
    <a href='/cart/' title='View Shopping Cart' class='btn btn-primary cartaction' >View Shopping Cart</a>
    <a href='javascript:;' data-toggle="modal" title="Continue Shopping" data-target="#addedTocCart" class='btn btn-primary cartaction' >Continue Shopping</a>
    </center>
      </div>
     
    </div>
  </div>
</div>    



{%  if flash('email_list') %}
<ul class="alert alert-success mail_list_flash" style="list-style:none;">
    {% for msg in flash('email_list') %}
    <li>{{ msg }}</li>
    {% endfor %}
</ul>
{%  endif %}

{%  if flash('email_list_error') %}
<ul class="alert alert-danger mail_list_flash" style="list-style:none;">
    {% for msg in flash('email_list_error') %}
    <li>{{ msg }}</li>
    {% endfor %}
</ul>
{%  endif %}
 
 

	<!--Header-->
	<header id="top" class="header clearfix">
		<div  >
			<div data-section-id="theme-header" data-section-type="header-section">
				<section class="top-header">
					<div class="top-header-wrapper">
						<div class="container">
							<div class="row">
								<div class="top-header-inner">
									<ul class="unstyled top-menu">
                                            
                                    <li><a title='Shop' href="{{path_for('website.shop')}}"><span class="hidden-xs">Shop</span></a> </li>
                                    <li><a title='FAQ'  href="{{path_for('website.faqs')}}"><span class="hidden-xs">FAQ</span></a> </li>
                                    <li><a title='Contact' href="{{path_for('website.contact')}}"><span class="hidden-xs">Contact</span></a> </li>
                                    <li><a title="Cart" href="{{path_for('website.cart')}}"><span class="hidden-xs">Cart</span></a> </li>
                                    <li><a title="Wishlist" href="{{path_for('website.wishlist')}}"><span class="hidden-xs">Wishlist</span></a> </li>
                                    <li><a title="Checkout" href="{{path_for('website.checkout')}}"><span class="hidden-xs">Checkout</span></a> </li>
                                    <li><a title="Blog" href="{{path_for('website.blog')}}"><span class="hidden-xs">Blog</span></a> </li>    
                
                                 
									{% for menu in menus %}
                                        {% if menu.area == 'top_menu' %}
                                        {% for menu in menu.the_menu() %}
                                            
                                            <li class="nav-item active">
                                                    <a href="{{menu.slug}}">
                                                        <span>{{menu.name}}</span>
                                                    </a>
                                            </li>
                                            {% endfor %}
                                        {% endif %}
								    {% endfor %}
								
										{% if not user %} 
										<!-- Customer Links -->
										<li class="toolbar-customer login-account">
												<a href="{{path_for('website.login')}}">Login</a>
										</li>
										<li class="toolbar-customer log-out"><a href="{{path_for('website.register')}}"><span>/</span> Register</a></li>
										
										
										{% else %}
										<li class="nav-item">
                                                    <a href="{{path_for('website.logout')}}">
                                                        <span>Logout</span>
                                                    </a>
                                         </li>
										{% endif %}
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="main-header">
					<div class="main-header-wrapper">
						<div class="container clearfix">
							<div class="row">
								<div class="main-header-inner">
									<div class="nav-top">
										<div class="nav-logo">
											<a href="{{path_for('website.home')}}"><img src="{{url.general }}{{  'logo'|options }}"></a>
										</div>
										<div class="group-search-cart">
											<div class="nav-search">
												<form class="search" action="{{path_for('website.search')}}">
													<input type="text" name="q" class="search_box" placeholder="Enter your keyword ..." value="">
													<div class="collections-selector">
														<select class="single-option-selector" data-option="collection-option" id="collection-option" name="collection">
															<option value="all">All Categories</option>
															  {% for categorie in searchCategories %}
                                                                <option value="{{categorie.id}}">{{categorie.name}}</option>
                                                              {% endfor %} 
															
														</select>
													</div>
													<button class="search_submit" type="submit">
														<svg aria-hidden="true" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
													</button>
												</form>
											</div>
											<div class="nav-cart" id="cart-header" >
												<div class="cart-info-group">
													<a href="{{path_for('website.cart')}}" class="cart dropdown-toggle dropdown-link" data-toggle="dropdown">
														<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
														<div class="num-items-in-cart">
															<div class="items-cart-left">
																<img title='cart' class="cart_img" src="{{website_assets}}images/bg-cart.png">
																<span class="cart_text icon">
																
																<span class="number cart_count">{{ cart|length }}</span>
																
																</span>  
															</div>
															<div class="items-cart-right">
																<span class="title_cart">My Cart</span>        
															</div>
														</div>
													
													
													</a>
													
													
													
													
													
													<div class="dropdown-menu cart-info"   style="display: none;">
														<div class="cart-content">
															<div class="items control-container" id="cart-sidebar">
															{% for item in cart %}
																<div class="row cartlibayna" id='cart-product-{{item.id}}'>
																	<a class="cart-close" data-productID='{{item.id}}' id="deletecartajax" href="javascript:;">
																		<i class="fa fa-times"></i>
																	</a>
																	<div class="cart-left">
																		<a class="cart-image" href="{{path_for('website.product',{id : item.productID})}}">
																			<img src="{{url.products}}{{item.thumbnail}}">
																		</a>
																	</div>
																	<div class="cart-right">
																		<div class="cart-title"><a href="{{path_for('website.product',{id : item.productID})}}">{{item.name}}</a></div>
																		<div class="cart-price"><span class="money productItemPrice">{{item.price}}</span><span class="x"> x <span class="productItemQuantity">{{item.q}}</span></span></div>
																	</div>
																</div>
																{% endfor %}
																
																
															</div>
															<div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" ><i></i>$</span></div>
															<div class="action"><button class="btn" onclick="window.location='{{path_for('website.cart')}}'">View Cart<i class="fa fa-caret-right"></i></button><button class="btn float-right" onclick="window.location='{{path_for('website.checkout')}}'">CHECKOUT<i class="fa fa-caret-right"></i></button></div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
									<div class="mobile-navigation">
										<button id="showLeftPush" class="visible-xs"><i class="fa fa-bars fa-2x"></i></button>
										<div class="nav-logo visible-xs">
											<div><a title="{{ 'name'|options }}" href="{{path_for('website.home')}}"><img alt="{{ 'name'|options }}" src="{{url.general }}{{  'logo'|options }}"></a></div>
										</div>
										
										<!-- phone cart -->
										<div class="icon_cart visible-xs">
											<div class="cart-info-group">
												<a href="{{path_for('website.cart')}}" class="cart dropdown-toggle dropdown-link">
													<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
													<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
													<div class="num-items-in-cart">
														<div class="items-cart-left">
															<img class="cart_img" src="{{url.base}}assets/images/bg-cart.png" >
															{% if cart is not empty %}<span class="cart_text icon"><span class="number cart_count">{{ cart|length }}</span></span>  {% endif %}     
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="nav-search visible-xs">
											<form class="search" action="{{path_for('website.search')}}">
												<input type="hidden" name="type" value="product">
												<input type="text" name="q" class="search_box" placeholder="Enter your keyword ..." value="">
												<button class="search_submit" type="submit">
													<svg aria-hidden="true" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
												</button>
											</form>
										</div>
										<div class="mobile-navigation-inner">
											<div class="mobile-navigation-content">
												<div class="mobile-top-navigation visible-xs">
													<div class="mobile-content-top" style="padding-top:15px;">
														
														<div class="mobile-top-account">
															<div class="is-mobile-login">
																<ul class="customer">
																	<li>
																		<a title='Login' href="{{path_for('website.login')}}"><i class="fa fa-user" aria-hidden="true"></i>
																			<span>Login</span>
																		</a>
																	</li>
																	<li>
																		<a title='Register' href="{{path_for('website.register')}}"><i class="fa fa-user-plus" aria-hidden="true"></i>
																			<span>Register</span>
																		</a>
																	</li>
																	<li class="is-mobile-cart">
																		<a title='cart' href="{{path_for('website.cart')}}">
																			<div class="num-items-in-cart">
																				<i class="fa fa-shopping-cart"></i>
																				<span>Cart</span>
																				<div class="ajax-subtotal" style="display:none;"></div>
																			</div>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="nav-menu visible-xs leftnavi" id="is-mobile-nav-menu">
													<div class="is-mobile-menu-content">
														<div class="mobile-content-link">
															<ul class="nav navbar-nav hoverMenuWrapper">
															
													<!-- phone Manu -->		
                                    {% for menu in menus %}
                                    {% if menu.area == 'main_menu' %}
                                    {% for menu in menu.the_menu() %}

                                        <li class="nav-item">
                                                <a href="{{menu.slug}}">
                                                    <span>{{menu.name}}</span>
                                                </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
								    {% endfor %}
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="navigation-header">
					<div class="navigation-header-wrapper">
						<div class="container clearfix">
							<div class="row">
								<div class="main-navigation-inner">
									<div class="navigation_area">
										<div class="navigation_left">
											<div class="group_navbtn">
												<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">                     
													<span class="dropdown-toggle">
													  Shop By Category
													</span>
													<i class="fa fa-bars" aria-hidden="true"></i>
												</a>
												<ul class="navigation_links_left dropdown-menu" style="display: none;">
                                                 
                                                   
                                                   {% for i in 0..7 %}
                                                   {% if searchCategories[i].name is not empty%}
                                                        <li class="nav-item _icon">
                                                        <a href="{{path_for('website.shop.cats', { slug : searchCategories[i].slug })}}">
															<span>{{searchCategories[i].name}}</span>
														</a>
													</li> 
													{% endif %}
                                                    {% endfor %}
                                                   
                                                   
                                                   
                                                   
                                                    
												</ul>
											</div>
										</div>
										<div class="navigation_right">
											<ul class="navigation_links">
											
									{% for menu in menus %}
                                    {% if menu.area == 'main_menu' %}
                                    {% for menu in menu.the_menu() %}
                                        <li class="nav-item">
                                                <a title='{{menu.name}}' href="{{menu.slug}}">
                                                    <span>{{menu.name}}</span>
                                                </a>
                                        </li>
                                        {% endfor %}
                                    {% endif %}
								    {% endfor %}
											
											</ul>
										</div>
										<div class="navigation_icon">
											<div class="navigation_icon_group">
												<div class="icon_cart">
													<div class="cart-info-group">
														<a href="{{path_for('website.cart')}}" class="cart dropdown-toggle dropdown-link" data-toggle="dropdown">
															<i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
															<i class="sub-dropdown visible-sm visible-md visible-lg"></i> 
															<div class="num-items-in-cart">
																<div class="items-cart-left">
																	<img class="cart_img" src="{{url.base}}assets/images/bg-cart.png" >
																	
																	<span class="cart_text icon"><span class="number">{{cart|length}}ddd</span></span>       
																	
																</div>
															</div>
														</a>
														<!-- hna -->
														<div class="dropdown-menu cart-info lmajmo3" style="display: none;">
														<div class="cart-content">
															<div class="items control-container ">
															{% for item in cart %}
																<div class="row cartlibayna">
																	<a class="cart-close" href="{{url.base}}{{path_for('cart.delete',{ id: item.cartID})}}">
																		<i class="fa fa-times"></i>
																	</a>
																	<div class="cart-left">
																		<a class="cart-image" href="{{path_for('website.product',{id : item.productID})}}">
																			<img src="{{url.products}}{{item.thumbnail}}">
																		</a>
																	</div>
																	<div class="cart-right">
																		<div class="cart-title"><a href="{{path_for('website.product',{id : item.productID})}}">{{item.name}}</a></div>
																		<div class="cart-price"><span class="money">{{item.price}}</span><span class="x"> x <span class="drb">{{item.quantity}}</span></span></div>
																	</div>
																</div>
																{% endfor %}
																
																
															</div>
															<div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" >$</span></div>
															<div class="action"><button class="btn" onclick="window.location='{{path_for('website.cart')}}'">View Cart<i class="fa fa-caret-right"></i></button><button class="btn float-right" onclick="window.location='{{path_for('website.checkout')}}'">CHECKOUT<i class="fa fa-caret-right"></i></button></div>
														</div>
													</div>
													
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</header>
	<div class="fix-sticky"></div>
	


        {% block content %} 

        {% endblock %}



	<!-- Footer -->
	<footer class="footer">
		<div id="shopify-section-theme-footer-top" >
			<section class="footer_service_block">
				<div class="footer_service_wrapper">
					<div class="container">
						<div class="row">
							<div class="footer_service_inner">
								<div class="footer_service_content">
									<div class="col-5 service_item">
										<span class="footer-title">
											{{'footer_text_widget_title_1'|options }}
										</span>
										<div class="service_caption">
											{{'footer_text_widget_content_1'|options }}
										</div>
									</div>
									<div class="col-5 service_item">
										<span class="footer-title">
											{{'footer_text_widget_title_2'|options }}
										</span>
										<div class="service_caption">
											{{'footer_text_widget_content_2'|options }}
										</div>
									</div>
									<div class="col-5 service_item">
										<span class="footer-title">
											{{'footer_text_widget_title_3'|options }}
										</span>
										<div class="service_caption">
											{{'footer_text_widget_content_3'|options }}
										</div>
									</div>
									<div class="col-5 service_item">
										<span class="footer-title">
											{{'footer_text_widget_title_4'|options }}
										</span>
										<div class="service_caption">
											{{'footer_text_widget_content_4'|options }}
										</div>
									</div>
									<div class="col-5 service_item">
										<span class="footer-title">
											{{'footer_text_widget_title_5'|options }}
										</span>
										<div class="service_caption">
											{{'footer_text_widget_content_5'|options }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer_newsoc_block">
				<div class="footer_newsoc_wrapper">
					<div class="container">
						<div class="row">
							<div class="_line"></div>
							<div class="footer_newsoc_inner">
								<div class="footer_newsoc_content" style="width:80% !important; margin:0 auto;">
									<div class="footer_newsletter_content">
				<div class="alert alert-danger Resetjs" style="display:none;"></div>
										<span class="footer-title">
											Delivering the latest product trends  straight to your inbox.
										</span>
										<div class="newsletter_content">
											<form method="POST" action="" id="Subscribe">
												<input type="email" class="form-control required_field" value="" name="email" id="mail" placeholder="Enter your email">
												<button type="submit" class="btn_newsletter_send btn" name="subscribe" id="subscribe">Submit</button>
											</form>
											<span class="newsletter_caption">
												We’ll never share your email address with a third-party.
											</span>
										</div>
									</div>
									<div class="footer_social_content">
										<span class="footer-title">
											Stay Connected
										</span>
										<div class="social_content">
										 {% if 'footer_link_fb'|options is not empty %}  
											<a href="{{'footer_link_fb'|options }}"  class="icon-social facebook"><i class="fa fa-facebook"></i></a>
                                        {% endif %}		
                                        	
                                            {% if 'footer_link_tw'|options is not empty %}  																	
											<a href="{{'footer_link_tw'|options }}"  class="icon-social twitter"><i class="fa fa-twitter"></i></a>
											{% endif %}	
											
											{% if 'footer_link_pi'|options is not empty %}  
											<a href="{{'footer_link_pi'|options }}" class="icon-social pinterest"><i class="fa fa-pinterest"></i></a>
											{% endif %}	
											
											{% if 'footer_link_ins'|options is not empty %}  
											<a href="{{'footer_link_ins'|options }}"class="icon-social instagram"><i class="fa fa-instagram"></i></a>
											{% endif %}	
											
											{% if 'footer_link_yb'|options is not empty %}  
											<a href="{{'footer_link_yb'|options }}"  class="icon-social youtube"><i class="fa fa-youtube"></i></a>
											{% endif %}	
											
											{% if 'footer_link_vie'|options is not empty %}  
											<a href="{{'footer_link_vie'|options }}"  class="icon-social vimeo"><i class="fa fa-vimeo"></i></a>
											{% endif %}	
											
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div >
			<section class="footer_linklist_block">
				<div class="footer_linklist_wrapper">
					<div class="container">
						<div class="row">
							<div class="_line"></div>
                       
<!-- bda -->
                                <div class="footer_linklist_inner">
								<div class="footer_linklist_content">
									<div class="col-sm-3 linklist_item">
									{% for menu in menus %}
                                        {% if menu.area == 'footer_1' %}
                                        <span class="footer-title">
											{{menu.name}}
										</span>
                                       <div class="linklist_content">
											<ul class="linklist_menu">
                                        {% for menu in menu.the_menu() %}
                                            <li>
                                                    <a href="{{menu.slug}}">
                                                        <span>{{menu.name}}</span>
                                                    </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
								        </div>
								         {% endif %}
                                        {% endfor %}
									</div>
									
                                </div>
								<div class="footer_linklist_content">
									<div class="col-sm-3 linklist_item">
									{% for menu in menus %}
                                        {% if menu.area == 'footer_2' %}
                                        <span class="footer-title">
											{{menu.name}}
										</span>
                                       <div class="linklist_content">
											<ul class="linklist_menu">
                                        {% for menu in menu.the_menu() %}
                                            <li>
                                                    <a href="{{menu.slug}}">
                                                        <span>{{menu.name}}</span>
                                                    </a>
                                            </li>
                                            {% endfor %}
                                          
                                        </ul>
								    </div>
								      {% endif %}
                                        {% endfor %}
									</div>
                                </div>
								<div class="footer_linklist_content">
									<div class="col-sm-3 linklist_item">
									{% for menu in menus %}
                                        {% if menu.area == 'footer_3' %}
                                        <span class="footer-title">
											{{menu.name}}
										</span>
                                       <div class="linklist_content">
											<ul class="linklist_menu">
                                        {% for menu in menu.the_menu() %}
                                            <li>
                                                    <a href="{{menu.slug}}">
                                                        <span>{{menu.name}}</span>
                                                    </a>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>
								    </div>
								    {% endif %}
                                        {% endfor %}
									</div>
                                </div>	
								<div class="footer_linklist_content">
									<div class="col-sm-3 linklist_item">
									{% for menu in menus %}
                                        {% if menu.area == 'footer_4' %}
                                        <span class="footer-title">
											{{menu.name}}
										</span>
                                       <div class="linklist_content">
											<ul class="linklist_menu">
                                        {% for menu in menu.the_menu() %}
                                            <li>
                                                    <a href="{{menu.slug}}">
                                                        <span>{{menu.name}}</span>
                                                    </a>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>
								    </div>
								    {% endif %}
                                        {% endfor %}
									</div>
									
								</div>
							</div>
						</div>
<!-- sala -->







                        </div>	
					</div>
				</div>
			</section>
			<section class="copy-right">
				
					<div class="container">
						<div class="row">
							<div class="_line"></div>
							
									<div class="footer_copyright">{{'footer_copyrights'|options }}</div>
							
						</div>
				
				</div>
			</section>
		</div>
	</footer>

	
	<!-- Float right icon -->
	<div class="float-right-icon">
		
				<div id="scroll-to-top"  data-placement="left" title="Scroll to Top" class="off">
					<i class="fa fa-angle-up"></i>
				</div>
	
	</div>
	
	
	
{%if 'ganalitycs'|options is not empty %}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', "{{ 'ganalitycs'|options }}", 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
{% endif %}
	
	

<script type="text/javascript">
    
    
    
function parseJSAtOnload() {
var element = document.createElement("script");
element.src = "/assets/script.min.js?v=1.3.2";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", parseJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", parseJSAtOnload);
else window.onload = parseJSAtOnload;
</script>






{{ 'other_footer_scripts'|options|raw }}
</body>
</html>
{% endspaceless %}