{% extends "website/layout.twig" %}
{% block title %} Product {% endblock %}


{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
		
        <section class="collection-heading heading-content ">
            <div class="container">
            {% include "admin/elements/flash.twig" %}
                <div class="row">
                    <div class="collection-wrapper">
                       
                        <div class="breadcrumb-group">
                            <div class="breadcrumb clearfix">
                                <span><a title='Home' href="{{path_for('website.home')}}"><span>Home</span></a>
                                </span>
                                <span class="arrow-space">></span>
                                <span>
                                    <a title='Products' href="{{path_for('website.shop')}}"><span>Products</span></a>
                                </span>
                                <span class="arrow-space">></span>
                                <strong>{{ product.name }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
			
		
			
			
			
			
			
			<section class="product-detail-content">
				<div class="detail-content-wrapper">
					<div class="container">
						<div class="row">
							<div class="shopify-section">
								<div class="detail-content-inner">
									<div id="product" class="detail-content">
										<div class="col-md-12 info-detail-pro clearfix">
											<div class="col-md-5" id="product-image">
												<div id="featuted-image" class="image featured">
												   	{% for image in product.gallery() %}
													<div class="image-item">
														<a href="#" class="thumbnail" id="{{image}}"> 
															<img src="{{url.media}}{{image}}" >
														</a>
													</div>
													{% endfor %}
												</div>
											</div>
											<div class="col-md-7" id="product-information">
												<h1  class="title">{{ product.name }}</h1>
												<div class="description">
													{{ product.description }}
												</div>
												
												
												<div class="variants">
													<div class="product-options ">
														
														<div class="product-price">
															<h2 class="price" id="price-preview">
															<span class="money">{{ product.discount_price }}$</span>
															</h2>
														</div>
														<div class="purchase-section multiple">
														
													
															
															<div class="purchase">
																<a  class="btn add-to-cart" id="addtocartajax" data-productid="{{product.id}}" href="javascript:;">add to cart</a>
															</div>
															
															
															
															
															
														</div>
													</div>
												</div>
												<div class="add-to-wishlist">
                                                    {% if wish %}
														<a style='background:#e04a3f;color:white;' 
                                                href="javascript:;" 
                                                class="wish-list" id='deletewishlistajax'  data-productid="{{product.id}}"  title="delete from wishlist"><i class="fa fa-heart"></i></a>
												    {% endif %}
												    
												    {% if not wish %}
												    <a  
												    
												     {% if not user %} 
                                                href="javascript:;"  data-toggle="tooltip" title="Please Login To add products to your wish list !"
                                                {% else %}
                                                
												    href="javascript:;" id="addtoWishList" data-productid="{{product.id}}" title="add to wishlist"
												    {% endif %}
												    
												    class="wish-list" ><i class="fa fa-heart"></i></a>
												    {% endif %}
												</div>
																					

												
												
												
												
												
												<div class="supports-fontface">
													<div class="social-sharing is-clean">
														<a target="_blank" href="http://www.facebook.com/sharer.php?u={{path_for('website.product', {id : product.id})}}" >
															<span class="icon icon-facebook"></span>
															<span class="share-count is-loaded">Share</span>     
														</a>
														<a target="_blank" href="http://twitter.com/share?url={{path_for('website.product', {id : product.id})}}">
															<span class="icon icon-twitter"></span>
															<span class="share-count is-loaded">Tweet</span>
														</a>
														<a target="_blank" href="http://pinterest.com/pin/create/link/?url={{path_for('website.product', {id : product.id})}}">
															<span class="icon icon-pinterest"></span>
															<span class="share-count is-loaded">Pin it</span>
														</a>
													
													</div>
													
													


												</div>
												
												
																						

												
												
												
												
											</div>
										</div>
										
										

										
										
										<div id="tabs-information" class="col-md-12">
										<div class="spr-content" style="display:none;"> 
										{% if allowRating %}
<form method="post" action="{{path_for('product.rate')}}" class="new-review-form">
<input type="hidden" name="review[rating]">
<input type="hidden" name="product_id" value="{{product.id}}">
<h3 class="spr-form-title">Write a review</h3>
<fieldset class="spr-form-review">
<div class="spr-form-review-rating">
<label class="spr-form-label">Rating</label>
<div class="spr-form-input spr-starrating ">
<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="1">&nbsp;</a>
<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="2">&nbsp;</a>
<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="3">&nbsp;</a>
<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="4">&nbsp;</a>
<a href="#" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="5">&nbsp;</a>
</div>
</div>
<div class="spr-form-review-title">
<label class="spr-form-label" for="review_title">Review Title</label>
<input class="spr-form-input spr-form-input-text " id="review_title" type="text" name="title" placeholder="Give your review a title">
</div>
<div class="spr-form-review-body">
<label class="spr-form-label" for="review_body">Body of Review <span class="spr-form-review-body-charactersremaining">(1500)</span></label>
<div class="spr-form-input">
<textarea class="spr-form-input spr-form-input-textarea " id="review_body" name="review" rows="10" placeholder="Write your comments here"></textarea>

</div>
</div>
</fieldset>
<fieldset class="spr-form-actions">
<input type="submit" class="spr-button spr-button-primary button button-primary btn btn-primary" value="Submit Review">
</fieldset>
</form>
{% endif %}
										</div>
										
										
										
										
										
										
										
											{% if reviews is not empty%}
											<div class="information_content panel panel-default">
												<div class="panel-heading" role="tab" id="heading_review">
													<h4 class="panel-title" data-toggle="collapse" href="#collapse_review" aria-expanded="true" aria-controls="collapse_review">
														Reviews
														<i class="fa-icon fa fa-angle-up"></i>
													</h4>
												</div>
												<div id="collapse_review" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_review">
													<div class="panel-body">
														<div id="customer_review">
															<div class="preview_content">
																<div id="shopify-product-reviews">
																	<div class="spr-container">
																		<div class="spr-content">
																			
																			{% for item in reviews %}
																			<div class="spr-reviews" >
																				<div class="spr-review" id="spr-review-7003642">
																					<div class="spr-review-header">
																						<span class="spr-starratings spr-review-header-starratings"><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i><i class="spr-icon spr-icon-star" style=""></i></span>
																						<h3 class="spr-review-header-title">{{item.title}}</h3>
																						<span class="spr-review-header-byline"><strong>Jin Alkaid</strong> on <strong>
																						    
																						    {{item.created_at.toDateTimeString()}} 
																						    
																						</strong></span>
																					</div>
																					<div class="spr-review-content">
																						<p class="spr-review-content-body">
																						    {{item.review}}
																						</p>
																					</div>
																					
																				</div>
																			</div>
																			{% endfor %}
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										</div>
										
									</div>
								</div>
							</div>
                             
                             
                             
                             
                             
                             
                        <style>
                            #tabs-information {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
                            .related-products.col-sm-12 {
    margin-bottom: 60px;
}
                            </style>     
                             
                             
                             
                              <div class="related-products col-sm-12">
    <div class="collection-title home-title page-title"><span style="margin-top: 21px;">You may also like</span></div>
        <div class="group-related">
            <div class="group-related-inner">
                <div class="rp-slider">
                        {% for product in related %} 
                        <div class="content_product">
                            <div class="row-container product list-unstyled clearfix">
                                <div class="row-left">
                                    <a href="{{ path_for('website.product', {'id': product.id}) }}" class="hoverBorder container_item">
                                        <div class="hoverBorderWrapper">
                                            <img src="{{url.media}}{{ product.ThumbnailsImages().1}}" class="not-rotation img-responsive front" >
                                            <div class="mask"></div>
                                            <img src="{{url.media}}{{ product.ThumbnailsImages().2}}" class="rotation img-responsive" >
                                        </div>
                                    </a>
                                    <div class="hover-mask">
                                        <div class="group-mask">
                                            <div class="inner-mask">
                                                <div class="group-actionbutton">
                                                    <ul class="quickview-wishlist-wrapper">
                                                        <li class="wishlist hidden-xs">
                                                            <a class="wish-list"><span class="hidden-xs"><i class="fa fa-heart" title="Wishlist"></i></span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-right animMix">
                                    <div class="product-title"><a class="title-5" href="{{ path_for('website.product', {'id': product.id}) }}">{{product.name}}</a></div>
                                    <div class="product-price">
                                        <span class="price_sale">{{product.price}}$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>  
                    <br><br>
						</div>
					</div>
				</div>
				
				
			</section>
			
		</main>
	</div>
	
	



<div class="detail-action-bar">

<a href="javascript:void(0);" id='addtocartajax' data-productID='185' class="add-to-cart">
<span class="copy"><i class="fa fa-shopping-bag"></i> Add to Cart</span>
</a>


<a href="javascript:void(0);" onclick="youneedlogin2();" class="add-to-wish">
<span class="copy"> <i class="fa fa-heart-o" ></i> Add to wish list </span>
</a>
</div>
  

	
{% endblock %}
