{% extends "website/layout.twig" %}
{% block title %} Register {% endblock %}


{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
		
		
		
		 <section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>Create Account</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span>
										<a href="{{path_for('website.home')}}"><span>Home</span></a>
									</span>
									<span class="arrow-space">/</span>
									<span>
										<a href="{{path_for('website.register')}}"><span>Create Account</span></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		
		
		
		
		
		
		
		
			<section class="register-content">
				<div class="register-wrapper">
					<div class="container">
						<div class="row">
							<div class="register-inner">
								<div id="customer-register">
									<div id="register" class="">
									<div class="alert alert-danger registerjs" style="display:none;"></div>
										<form method="post" action="{{path_for('website.register')}}" id="RegisterForm">
										<input type="hidden" id='userbrowser' value="" />
										{% include "admin/elements/flash.twig" %}
										<input type="hidden" value="create_customer" name="validate">
											<div id="first_name1" class="clearfix large_form">
												<label for="first_name2" class="label">First Name</label>
												<input type="text" value="{{old.first_name}}" name="first_name" class="text required_field" size="30">
											</div>
											<div id="last_name1" class="clearfix large_form">
												<label for="last_name2" class="label">Last Name</label>
												<input type="text" value="{{old.first_name}}" name="last_name" class="text required_field" size="30">
											</div>
											<div id="email1" class="clearfix large_form">
												<label for="email2" class="label">Email</label>
												<input type="email" value="{{old.first_name}}" name="email" class="text required_field" size="30">
											</div>
											<div id="password1" class="clearfix large_form">
												<label for="password2" class="label">Password</label>
												<input type="password" value="{{old.first_name}}" name="password"  class="password text required_field" size="30">
											</div>
											<div class="action_bottom">
												<input class="btn" type="submit" value="Create">
											</div>
										</form>
									</div>
									<!-- #register -->
								</div>
								<!-- #customer-register -->
								<br>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	
	
	
<script>
    var browser = '';
var browserVersion = 0;

if (/Opera[\/\s](\d+\.\d+)/.test(navigator.userAgent)) {
    browser = 'Opera';
} else if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
    browser = 'MSIE';
} else if (/Navigator[\/\s](\d+\.\d+)/.test(navigator.userAgent)) {
    browser = 'Netscape';
} else if (/Chrome[\/\s](\d+\.\d+)/.test(navigator.userAgent)) {
    browser = 'Chrome';
} else if (/Safari[\/\s](\d+\.\d+)/.test(navigator.userAgent)) {
    browser = 'Safari';
    /Version[\/\s](\d+\.\d+)/.test(navigator.userAgent);
    browserVersion = new Number(RegExp.$1);
} else if (/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent)) {
    browser = 'Firefox';
}
if(browserVersion === 0){
    browserVersion = parseFloat(new Number(RegExp.$1));
}
    
    document.getElementById("userbrowser").value = browser + " " + browserVersion;

    

    
    </script>
	
	
{% endblock %}