{% extends "website/layout.twig" %}
{% block title %} Wish List {% endblock %}


{% block content %}

	<!-- Main Content -->
	<div class="page-container" id="PageContainer">
		<main class="main-content" id="MainContent" role="main">
			<section class="collection-heading heading-content ">
				<div class="container">
					<div class="row">
						<div class="collection-wrapper">
							<h1 class="collection-title"><span>Wish list</span></h1>
							<div class="breadcrumb-group">
								<div class="breadcrumb clearfix">
									<span><a href="{{path_for('website.home')}}" title="Home" itemprop="url">Home</a>
									</span>
									<span class="arrow-space">></span>
									<span>
										<a href="{{path_for('website.wishlist')}}" title="Wish list" itemprop="url">Wish list</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="wish-list">
				<div class="container">
					<div class="row">
						<div id="col-main" class="clearfix">
							<div class="page">
				
                          
                        
							{% if user %} 
								<div class="table-cart" id="wishlistable">
									<div class="wrap-table">
										<table class="cart-items haft-border">
											<thead>
												<tr class="top-labels">
													<th class="text-left">Items</th>
													<th>Price</th>
													<th>Remove</th>
													
												</tr>
											</thead>
											<tbody>
											{% for wish in wishlist %}
											
												<tr class="item wishlist-item" id="wish-product-{{product.id}}">
													<td class="title text-left">
														<ul class="list-inline">
															<li class="image">
																<a class="image text-left" href="product.html">
																	<img  style='width:150px;'  src="{{url.products}}{{wish.product.thumbnail}}" >
																</a>
															</li>
															<li class="link">
																<a class="title text-left" href="product.html">{{wish.product.name}}</a>
															</li>
														</ul>
													</td>
													<td class="price title-1">
														<span class="money">{{wish.product.discount_price}}</span>
													</td>
													<td class="remove">
														<div>
															<div class="product-remove">
																<a title="Remove" data-productID="{{product.id}}" id='deletewishlistajax' class="color-red icon icon-clear" href="javascript:;">
																	<i class="fa fa-close"></i>
																</a>
															</div>
														</div>
													</td>
												</tr>
								            {% endfor %}
												
											</tbody>
										</table>
									</div>
									
									<a href="{{path_for('wishlist-to-card')}}" class="btn add-to-cart">Add all to my cart</a>
									<br/>
									<br/>
									
								</div>
								
								{% else %}
								
								
									<p>You must <a href="{{path_for('website.login')}}">Sign In</a> or <a href="{{path_for('website.register')}}">Register</a>.</p>
									
									{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
