{% extends "admin/layout.twig" %}
{% block title %} {{l.userscreate.1}} {% endblock %}
{% block content %}

<!-- Main content -->
<div class="content-wrapper">
<!-- Page header -->
<div class="page-header page-header-default ">
<div class="page-header-content">

<div class="page-title">
<h1> <span class="text-semibold"><i class="icon-arrow-right6 position-left goback"></i>
{{l.userscreate.1}}</span></h1>
</div>

<div class="heading-elements">



</div>
</div>
        <div class="breadcrumb-line">
<ul class="breadcrumb">
    <li><a href="{{path_for('admin.index')}}" title="الرئيسية"><i class="icon-home2 position-left"></i>{{l.bread.1}}</a></li>
    <li class="active" ><a title="{{l.sidebar.3}}" href="{{path_for('users')}}">{{l.sidebar.3}}</a></li>
    <li class="active" title="{{l.userscreate.1}}">{{l.userscreate.1}}</li>
</ul>


</div>
</div>
<!-- /page header -->


   
   
    <!-- Content area -->
    <div class="content">
        {% include "admin/elements/flash.twig" %}
        
   
        <div class="col-md-12">
            <div class="panel panel-flat col-md-12">
                <div class="panel-body">
                   <div id="result"></div>
<!--                   id="createuser"-->
                    <form class="form-horizontal"  method='post' action="{{path_for('users.store')}}" autocomplete="off">
                        <fieldset class="content-group">
                            <legend class="text-bold">{{l.userscreate.3}}</legend>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.5}}</label>
                                <div class="col-lg-10">
                                   
<div class="input-group">
 <input type="text" class="form-control frequired" autocomplete="new-password" name="username" placeholder="{{l.userscreate.5}}" value="{{ old.username }}"  >
<span class="input-group-addon"><i class="icon-user"></i></span>
</div>
                                   
                                   
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.6}}</label>
                                <div class="col-lg-10">
                                   
                                   
                                  <div class="input-group">
     <input type="email" class="form-control frequired" autocomplete="new-password" value="{{ old.email }}" name="email" placeholder="{{l.userscreate.6}}" >
    <span class="input-group-addon"><i class="icon-envelope"></i></span>
</div>
                                   
                                   
                                   
                                   
                                   
                                   
                                   
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.7}}</label>
                                <div class="col-lg-10">
                                   
                                   
                                   
                                   
                                   
                                                    
                                  <div class="input-group">
     <input type="password" autocomplete="new-password" value="{{ old.password }}" class="form-control frequired" name="password" id="password" placeholder="{{l.userscreate.7}}" > 
   
    <span class="input-group-addon"><i class="icon-lock2"></i></span>
</div>
                                   
                                   
                                   
                                   
                                  
                                </div>
                                
                            </div>
                             
                            <div class="form-group">
                                <label class="control-label col-lg-2">{{l.userscreate.8}}</label>
                                <div class="col-lg-10">
                                   
                                   {% if old.role is not empty %}
                                       <select name="role" class="form-control">
                                            {% if old.role =='1' %}
                                                <option value="1" class="form-control">{{l.userscreate.9}}</option>
                                                <option value="2" class="form-control">{{l.userscreate.10}}</option>
                                            {% else  %}
                                                <option value="2" class="form-control">{{l.userscreate.10}}</option>
                                                <option value="1" class="form-control">{{l.userscreate.9}}</option>
                                            {% endif  %}
                                        </select>
                                   {% endif  %}
                                   
                                   {% if old.role is empty %}
                                        <select name="role" class="form-control">
                                                <option value="1" class="form-control">{{l.userscreate.9}}</option>
                                                <option value="2" class="form-control">{{l.userscreate.10}}</option>
                                        </select>  
                                   {% endif  %}   
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" id="Submit_Add_User">
                               {{l.userscreate.15}}
                                <i class="icon-arrow-left13 position-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>            
{% endblock %}	