{% extends "admin/layout.twig" %}
{% block title %} {{l.menus.37}} {% endblock %}

{% block content %}

<button type="button" id='edit-modal' class="btn btn-default btn-sm hidden" data-toggle="modal" data-target="#edit_modal">Launch <i class="icon-play3 position-right"></i></button>






<!-- Main content -->
<div class="content-wrapper">


            
<!-- Page header -->
<div class="page-header page-header-transparent">
    <div class="page-header-content">
        <div class="page-title">
            <h1><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">{{l.menus.37}}</span></h1>
        </div>
        <div class="heading-elements">
         <a href="javascript:void(0);" data-toggle="modal" data-target="#modal_iconified" 
         class="btn bg-danger btn-labeled heading-btn"><b><i class="icon-trash"></i></b>{{l.menus.38}}</a>
        </div>
    </div>
</div>
<!-- /page header -->





 <!-- Basic modal -->
					<div id="modal_default" class="modal fade">
						<div class="modal-dialog">
						
						<form action="{{path_for('menus.create')}}" id="CreateMenu" method="POST">
						    <input type="hidden" id='menuarea' value="{{menu.area}}" />
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h5 class="modal-title">{{l.menus.40}}</h5>
								</div>
								<div class="modal-body">
								<div id="result"></div>
									<h6 class="text-semibold">{{l.menus.41}}</h6>
									<input type="text" class="form-control frequired" name="name" placeholder="{{l.menus.39}}"  />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">{{l.menus.42}}</button>
								</div>
							</div>
							</form>
						</div>
					</div>
					<!-- /basic modal -->
      
      
                




<style>
    
</style>














<div id="modal_iconified" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;{{l.bulk_modal.1}}</h5>
        </div>

        <div class="modal-body">
            <div class="alert alert-info alert-styled-left text-blue-800 content-group">
                {{l.bulk_modal.2}}
                <button type="button" class="close" data-dismiss="alert">×</button>
            </div>
            {{l.bulk_modal.4}}
            <p>
            <br>
            </p>
        </div>

        <div class="modal-footer">
            <a href="{{ path_for('menus.bulkdelete') }}" class="btn btn-link text-danger">
            {{l.bulk_modal.6}}</a>
            <button class="btn btn-primary" data-dismiss="modal"> {{l.bulk_modal.7}} </button>
        </div>
    </div>
</div>
</div>
		

<!-- Content area -->
<div class="content">

{% include "admin/elements/flash.twig" %}



<div id="edit_modal" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>

								<div class="modal-body">
									    <form class="" id="menu-editor">
            <div class="form-group">
              <label for="addInputName">{{l.menus.43}}</label>
              <input type="text" class="form-control" id="editInputName" placeholder="Item name" required>
            </div>
            <div class="form-group">
              <label for="addInputSlug">{{l.menus.44}}</label>
              <input type="text" class="form-control" id="editInputSlug" placeholder="item-slug">
            </div>
            <button class="btn btn-primary" data-dismiss="modal" id="editButton">{{l.menus.45}}</button>
          </form>
								</div>

							</div>
						</div>
					</div>




<div class="row">
        
        <!-- Menus -->
        <div class="col-md-12">           
        <div class=" navbar navbar-default navbar-component navbar-xs"  style="padding:10px;">
            <div class="col-md-2 " style="padding-top:10px;">{{l.menus.46}}</div>
            <div class="col-md-3">
                <select  name="areaUndetected" style="width:100%;" class="areaUndetected">
                <option value="not_speci">{{l.menus.47}}</option>
                {% for menu in menus %}
                    <option value="{{path_for('menus.edit',{id:menu.id })}}">{{menu.name}}</option>
                {% endfor %} 
                </select>
            </div>
            <div class="col-md-3" style="padding-top:10px;"> 
            {{l.menus.66}} . <a data-toggle="modal" data-target="#modal_default">{{l.menus.48}}</a>
            </div>
        </div>
        </div>

        
        <!-- Menus Here -->
        <div class="col-md-3 hdoi">
							<!-- Accordion widget -->
							<div class="panel-group content-group" id="menu-accordion">
								<div class="panel panel-default">
								
									<div class="panel-heading" data-toggle="collapse" data-parent="#menu-accordion" href="#accordion1">
										<h6 class="panel-title text-semibold">
											{{l.menus.49}}
										</h6>
									</div>

									<div id="accordion1" class="panel-collapse collapse in">
										<div class="panel-body"> 
										
										<form  id="menu-add-pages">
										<ul style="list-style:none;">
                                           {% for i in 0..4 %}
										    <li>
										      <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="{{url.base}}{{path_for('website.page',{id: pages[i].id})}}" class="styled" data-name='{{pages[i].title}}' data-slug="{{url.base}}{{path_for('website.page',{id: pages[i].id})}}" />
                                                    {{pages[i].title}}
                                                </label>
										        </div>
										  </li>
										  {% endfor %}
										</ul>
                                        <div class="form-group">
                                            <button class="btn btn-info" id="addButtonPages">{{l.menus.50}}</button>
                                        </div>
                                        </form>
										
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading" data-toggle="collapse" data-parent="#menu-accordion" href="#accordion2">
										<h6 class="panel-title text-semibold">
										    {{l.menus.51}}
										</h6>
									</div>

									<div id="accordion2" class="panel-collapse collapse">
										<div class="panel-body">										
										
										<form  id="menu-add-posts">
										<ul style="list-style:none;">
                                           {% for i in 0..4 %}
										    <li>
										      <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="{{url.base}}{{path_for('website.post',{id: posts[i].id})}}" class="styled2" data-name='{{posts[i].title}}' data-slug="{{url.base}}{{path_for('website.post',{id: posts[i].id})}}" />
                                                    {{posts[i].title}}
                                                </label>
										        </div>
										  </li>
										  {% endfor %}
										</ul>
                                        <div class="form-group">
                                            <button class="btn btn-info" id="addButtonPages">{{l.menus.50}}</button>
                                        </div>
                                        </form>
										
										
									
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading" data-toggle="collapse" data-parent="#menu-accordion" href="#accordion3">
										<h6 class="panel-title text-semibold">
											
											    {{l.menus.52}}
											
										</h6>
									</div>

									<div id="accordion3" class="panel-collapse collapse">
										<div class="panel-body">
										    <!-- /accordion widget -->
                                            <form  id="menu-add">
                                            
                                            <div class="form-group">
                                            <label for="addInputName">{{l.menus.53}}</label>
                                            <input type="text" class="form-control" id="addInputName"  required>
                                            </div>
                                            <div class="form-group">
                                            <label for="addInputSlug">{{l.menus.54}}</label>
                                            <input type="text"  value='http://' class="form-control" id="addInputSlug"  required>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-info" id="addButton">{{l.menus.55}}</button>
                                            </div>
                                            </form>
										</div>
									</div>
								</div>
							</div>
		
        </div>
        
        
        <div class="col-md-9">
            
            <form action="{{path_for('menus.edit',{id:menu.id })}}" method='post'>
            <input type="hidden" name="menu_id" value="{{menu.id}}">
            
            <div class="panel">
                <div class="panel-heading" >
                    <h6 class="panel-title">
                    <input type="text" name="menu_name" placeholder="{{l.menus.57}}" value="{{menu.name}}" class="form-control" style="width:250px;" />
                    </h6>
                    <div class="heading-elements">
                        <button type="submit" class="btn btn-info" id="addButtonPages">{{l.menus.56}}</button>
                    </div>
                </div>
            <legend style="padding-top: 0;margin-top: -9px;"></legend>
                <div class="panel-body">
                
                <!-- Menu start Here  -->


          <div class="dd nestable">
            <ol class="dd-list">

             
           
             
             
             
             {% for item in htmlMenu %}
             <li class="dd-item" data-id='{{item.id}}' data-name="{{item.name}}" data-slug="{{item.slug}}"  >
                <div class="dd-handle">{{item.name}}</div>
                <span class="button-delete btn btn-default btn-xs pull-right"
                      data-owner-id="{{item.id}}">
                  <i class="icon-cross3" ></i>
                </span>
                <span class="button-edit btn btn-default btn-xs pull-right" data-owner-id="{{item.id}}" data-toggle="modal" data-target="#edit_modal">
                  <i class="icon-pencil7"></i>
                </span>
                
                {% if item.children is defined %}
                <ol class="dd-list">
                {% for childmenu in item.children %}
                  <li class="dd-item" data-id="{{childmenu.id}}" data-name="{{childmenu.name}}" data-slug="{{childmenu.slug}}" data-new="0" data-deleted="0">
                    <div class="dd-handle">{{childmenu.name}}</div>
                    <span class="button-delete btn btn-default btn-xs pull-right"
                          data-owner-id="{{childmenu.id}}">
                      <i class="icon-cross3"></i>
                    </span>
                    <span class="button-edit btn btn-default btn-xs pull-right"
                          data-owner-id="{{childmenu.id}}" data-toggle="modal" data-target="#edit_modal">
                      <i class="icon-pencil7"></i>
                    </span>
                  </li>
                 {% endfor %} 
                  </ol>
                {% endif %}
              </li>
             {% endfor %}
             
             
              
          
            </ol>
          </div>
        
          <div class="row output-container">
            <div class="col-md-offset-1 col-md-10">
              <form class="form">
                <textarea class="form-control" style="display: none;" name='menu_json'  id="json-output" rows="5">{{menu.menu_json}}</textarea>
              </form>
            </div>
          </div>
                <!-- Menu Ends Here  -->
                
                
                 <legend></legend>
                <b>{{l.menus.57}}</b>
                <br/>
                <br/>
                <ul class="list-style" style="list-style:none;">
                    <li>
                     <input type="radio" id="top_menu" name="area" value="top_menu" />
                     <label for="top_menu">{{l.MenuItems.1}} </label>
                    </li>
                    <li>
                     <input type="radio" name="area" id="main_menu" value="main_menu" />
                     <label for="main_menu"> {{l.MenuItems.2}} </label>
                    </li>      
                    <li>
                     <input type="radio" name="area" id="footer_1" value="footer_1" />
                     <label for="footer_1"> {{l.MenuItems.3}}</label>
                    </li>
                    <li>
                     <input type="radio" name="area" id="footer_2" value="footer_2" />
                     <label for="footer_2">{{l.MenuItems.4}}</label>
                    </li>
                    <li>
                     <input type="radio" name="area" id="footer_3" value="footer_3" />
                     <label for="footer_3">{{l.MenuItems.5}} </label>
                    </li>     
                    <li>
                     <input type="radio" name="area" id="footer_4" value="footer_4" />
                     <label for="footer_4"> {{l.MenuItems.6}} </label>
                    </li>                                          
                </ul>
                </div>
                <p>
                    <a class="text-danger" style="margin-right:15px;" href="{{path_for('menus.delete',{id : menu.id})}}">
                        {{l.menus.64}}
                    </a>
                </p>
            </div>
            </form> 
        </div>
        
        
    </div>
      
      
      
      
      
      
                
      
           
      

</div>
	

    
    
<!-- set the select -->		
<script> $('.areaUndetected').select2({ placeholder: 'تحديد مكان الإعلان',}); </script>

<!-- open the link of drop down menu on select  -->          
<script> $(".areaUndetected").on("select2:select", function (e) { window.open(e.params.data.id,"_self"); }); </script>  


{% endblock %}	
            

                    
                                  
                     
                    
            				
